ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/dml-basetypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns="http://schemas.openxmlformats.org/drawingml/2006/3/main" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xsd:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" schemaLocation="shared-relationships.xsd" />
  <xsd:complexType name="CT_OfficeArtPlatformExtension">
    <xsd:sequence>
      <xsd:any processContents="lax" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ST_Coordinate">
    <xsd:annotation>
      <xsd:documentation>Coordinate</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="-2147483648" />
      <xsd:maxInclusive value="2147483647" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_Coordinate32">
    <xsd:restriction base="xsd:int" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_PositiveCoordinate">
    <xsd:annotation>
      <xsd:documentation>Positive Coordinate</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="2147483647" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_PositiveCoordinate32">
    <xsd:restriction base="ST_Coordinate32">
      <xsd:minInclusive value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_Angle">
    <xsd:annotation>
      <xsd:documentation>Angle</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int" />
  </xsd:simpleType>
  <xsd:complexType name="CT_Angle">
    <xsd:annotation>
      <xsd:documentation>Angle</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="val" type="ST_Angle" use="required">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_FixedAngle">
    <xsd:annotation>
      <xsd:documentation>Fixed Angle</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ST_Angle">
      <xsd:minExclusive value="-5400000" />
      <xsd:maxExclusive value="5400000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_PositiveFixedAngle">
    <xsd:annotation>
      <xsd:documentation>Positive Fixed Angle</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ST_Angle">
      <xsd:minInclusive value="0" />
      <xsd:maxExclusive value="21600000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_PositiveFixedAngle">
    <xsd:annotation>
      <xsd:documentation>Positive Fixed Angle</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="val" type="ST_PositiveFixedAngle" use="required">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_Percentage">
    <xsd:annotation>
      <xsd:documentation>Percentage</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int" />
  </xsd:simpleType>
  <xsd:complexType name="CT_Percentage">
    <xsd:annotation>
      <xsd:documentation>Percentage</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="val" type="ST_Percentage" use="required">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_PositivePercentage">
    <xsd:annotation>
      <xsd:documentation>Positive Percentage</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ST_Percentage">
      <xsd:minInclusive value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_PositivePercentage">
    <xsd:annotation>
      <xsd:documentation>Positive Percentage</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="val" type="ST_PositivePercentage" use="required">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_FixedPercentage">
    <xsd:annotation>
      <xsd:documentation>Fixed Percentage</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ST_Percentage">
      <xsd:minInclusive value="-100000" />
      <xsd:maxInclusive value="100000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_FixedPercentage">
    <xsd:annotation>
      <xsd:documentation>Fixed Percentage</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="val" type="ST_FixedPercentage" use="required">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_PositiveFixedPercentage">
    <xsd:annotation>
      <xsd:documentation>Positive Fixed Percentage</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ST_Percentage">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="100000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_PositiveFixedPercentage">
    <xsd:annotation>
      <xsd:documentation>Positive Fixed Percentage</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="val" type="ST_PositiveFixedPercentage" use="required">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Ratio">
    <xsd:annotation>
      <xsd:documentation>Ratio</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="n" type="xsd:long" use="required">
      <xsd:annotation>
        <xsd:documentation>Numerator</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="d" type="xsd:long" use="required">
      <xsd:annotation>
        <xsd:documentation>Denominator</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Point2D">
    <xsd:annotation>
      <xsd:documentation>Point in 2D</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="x" type="ST_Coordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>X-Axis Coordinate</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="y" type="ST_Coordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Y Coordinate</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Size2D">
    <xsd:annotation>
      <xsd:documentation>Size in 2D</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="cx" type="ST_Coordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Horizontal Size</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="cy" type="ST_Coordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Vertical Size</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_PositiveSize2D">
    <xsd:attribute name="cx" type="ST_PositiveCoordinate" use="required" />
    <xsd:attribute name="cy" type="ST_PositiveCoordinate" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_ComplementTransform">
    <xsd:annotation>
      <xsd:documentation>Complement Transform Methods</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="CT_InverseTransform">
    <xsd:annotation>
      <xsd:documentation>Inverse Transform Methods</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="CT_GrayscaleTransform">
    <xsd:annotation>
      <xsd:documentation>Grayscale Transform Methods</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="CT_GammaTransform" />
  <xsd:complexType name="CT_InverseGammaTransform" />
  <xsd:group name="EG_ColorTransform">
    <xsd:annotation>
      <xsd:documentation>Color Transform Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="tint" type="CT_PositiveFixedPercentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Tint</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shade" type="CT_PositiveFixedPercentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Shade</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="comp" type="CT_ComplementTransform" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Complement</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inv" type="CT_InverseTransform" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Inverse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gray" type="CT_GrayscaleTransform" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Gray</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alpha" type="CT_PositiveFixedPercentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Alpha</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alphaOff" type="CT_FixedPercentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Alpha Offset</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alphaMod" type="CT_PositivePercentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Alpha Modulation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hue" type="CT_PositiveFixedAngle" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Hue</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hueOff" type="CT_Angle" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Hue Offset</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hueMod" type="CT_PositivePercentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Hue Modulate</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sat" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Saturation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="satOff" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Saturation Offset</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="satMod" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Saturation Modulation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lum" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Luminance</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lumOff" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Luminance Offset</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lumMod" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Luminance Modulation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="red" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Red</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="redOff" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Red Offset</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="redMod" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Red Modulation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="green" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Green</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="greenOff" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Green Offset</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="greenMod" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Green Modification</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="blue" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Blue</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="blueOff" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Blue Offset</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="blueMod" type="CT_Percentage" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Blue Modification</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gamma" type="CT_GammaTransform" minOccurs="1" maxOccurs="1" />
      <xsd:element name="invGamma" type="CT_InverseGammaTransform" minOccurs="1" maxOccurs="1" />
    </xsd:choice>
  </xsd:group>
  <xsd:complexType name="CT_ScRgbColor">
    <xsd:annotation>
      <xsd:documentation>scRGB Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="EG_ColorTransform" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Color Transforms</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
    <xsd:attribute name="r" type="ST_Percentage" use="required">
      <xsd:annotation>
        <xsd:documentation>Red</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="g" type="ST_Percentage" use="required">
      <xsd:annotation>
        <xsd:documentation>Green</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="b" type="ST_Percentage" use="required">
      <xsd:annotation>
        <xsd:documentation>Blue</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_HexBinary3">
    <xsd:restriction base="xsd:hexBinary">
      <xsd:length value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_SRgbColor">
    <xsd:annotation>
      <xsd:documentation>sRGB Color Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="EG_ColorTransform" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Color Transforms</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
    <xsd:attribute name="val" type="ST_HexBinary3" use="required">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_HslColor">
    <xsd:annotation>
      <xsd:documentation>HSL Color</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="EG_ColorTransform" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Color Transforms</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
    <xsd:attribute name="hue" type="ST_PositiveFixedAngle" use="required">
      <xsd:annotation>
        <xsd:documentation>Hue</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sat" type="ST_Percentage" use="required">
      <xsd:annotation>
        <xsd:documentation>Saturation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lum" type="ST_Percentage" use="required">
      <xsd:annotation>
        <xsd:documentation>Luminance</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_SystemColorVal">
    <xsd:annotation>
      <xsd:documentation>System Color Value</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="scrollBar" />
      <xsd:enumeration value="background" />
      <xsd:enumeration value="activeCaption" />
      <xsd:enumeration value="inactiveCaption" />
      <xsd:enumeration value="menu" />
      <xsd:enumeration value="window" />
      <xsd:enumeration value="windowFrame" />
      <xsd:enumeration value="menuText" />
      <xsd:enumeration value="windowText" />
      <xsd:enumeration value="captionText" />
      <xsd:enumeration value="activeBorder" />
      <xsd:enumeration value="inactiveBorder" />
      <xsd:enumeration value="appWorkspace" />
      <xsd:enumeration value="highlight" />
      <xsd:enumeration value="highlightText" />
      <xsd:enumeration value="btnFace" />
      <xsd:enumeration value="btnShadow" />
      <xsd:enumeration value="grayText" />
      <xsd:enumeration value="btnText" />
      <xsd:enumeration value="inactiveCaptionText" />
      <xsd:enumeration value="btnHighlight" />
      <xsd:enumeration value="3dDkShadow" />
      <xsd:enumeration value="3dLight" />
      <xsd:enumeration value="infoText" />
      <xsd:enumeration value="infoBk" />
      <xsd:enumeration value="hotLight" />
      <xsd:enumeration value="gradientActiveCaption" />
      <xsd:enumeration value="gradientInactiveCaption" />
      <xsd:enumeration value="menuHighlight" />
      <xsd:enumeration value="menuBar" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_SystemColor">
    <xsd:annotation>
      <xsd:documentation>System Color Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="EG_ColorTransform" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Color Transforms</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
    <xsd:attribute name="val" type="ST_SystemColorVal" use="required">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_SchemeColorVal">
    <xsd:annotation>
      <xsd:documentation>Scheme Color </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="bg1" />
      <xsd:enumeration value="tx1" />
      <xsd:enumeration value="bg2" />
      <xsd:enumeration value="tx2" />
      <xsd:enumeration value="accent1" />
      <xsd:enumeration value="accent2" />
      <xsd:enumeration value="accent3" />
      <xsd:enumeration value="accent4" />
      <xsd:enumeration value="accent5" />
      <xsd:enumeration value="accent6" />
      <xsd:enumeration value="hlink" />
      <xsd:enumeration value="folHlink" />
      <xsd:enumeration value="phClr" />
      <xsd:enumeration value="dk1" />
      <xsd:enumeration value="lt1" />
      <xsd:enumeration value="dk2" />
      <xsd:enumeration value="lt2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_SchemeColor">
    <xsd:annotation>
      <xsd:documentation>Scheme Color Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="EG_ColorTransform" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Color Transforms</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
    <xsd:attribute name="val" type="ST_SchemeColorVal" use="required">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_PresetColorVal">
    <xsd:annotation>
      <xsd:documentation>Preset Color Value</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="aliceBlue" />
      <xsd:enumeration value="antiqueWhite" />
      <xsd:enumeration value="aqua" />
      <xsd:enumeration value="aquamarine" />
      <xsd:enumeration value="azure">
        <xsd:annotation>
          <xsd:documentation>Color Enum ( Azure )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="beige" />
      <xsd:enumeration value="bisque" />
      <xsd:enumeration value="black" />
      <xsd:enumeration value="blanchedAlmond" />
      <xsd:enumeration value="blue" />
      <xsd:enumeration value="blueViolet" />
      <xsd:enumeration value="brown" />
      <xsd:enumeration value="burlyWood" />
      <xsd:enumeration value="cadetBlue" />
      <xsd:enumeration value="chartreuse" />
      <xsd:enumeration value="chocolate" />
      <xsd:enumeration value="coral" />
      <xsd:enumeration value="cornflowerBlue" />
      <xsd:enumeration value="cornsilk" />
      <xsd:enumeration value="crimson" />
      <xsd:enumeration value="cyan" />
      <xsd:enumeration value="dkBlue" />
      <xsd:enumeration value="dkCyan" />
      <xsd:enumeration value="dkGoldenrod" />
      <xsd:enumeration value="dkGray" />
      <xsd:enumeration value="dkGreen" />
      <xsd:enumeration value="dkKhaki" />
      <xsd:enumeration value="dkMagenta" />
      <xsd:enumeration value="dkOliveGreen" />
      <xsd:enumeration value="dkOrange" />
      <xsd:enumeration value="dkOrchid" />
      <xsd:enumeration value="dkRed" />
      <xsd:enumeration value="dkSalmon" />
      <xsd:enumeration value="dkSeaGreen" />
      <xsd:enumeration value="dkSlateBlue" />
      <xsd:enumeration value="dkSlateGray" />
      <xsd:enumeration value="dkTurquoise" />
      <xsd:enumeration value="dkViolet" />
      <xsd:enumeration value="deepPink" />
      <xsd:enumeration value="deepSkyBlue" />
      <xsd:enumeration value="dimGray" />
      <xsd:enumeration value="dodgerBlue" />
      <xsd:enumeration value="firebrick" />
      <xsd:enumeration value="floralWhite" />
      <xsd:enumeration value="forestGreen" />
      <xsd:enumeration value="fuchsia" />
      <xsd:enumeration value="gainsboro" />
      <xsd:enumeration value="ghostWhite" />
      <xsd:enumeration value="gold" />
      <xsd:enumeration value="goldenrod" />
      <xsd:enumeration value="gray" />
      <xsd:enumeration value="green" />
      <xsd:enumeration value="greenYellow" />
      <xsd:enumeration value="honeydew" />
      <xsd:enumeration value="hotPink" />
      <xsd:enumeration value="indianRed" />
      <xsd:enumeration value="indigo" />
      <xsd:enumeration value="ivory" />
      <xsd:enumeration value="khaki" />
      <xsd:enumeration value="lavender" />
      <xsd:enumeration value="lavenderBlush" />
      <xsd:enumeration value="lawnGreen" />
      <xsd:enumeration value="lemonChiffon" />
      <xsd:enumeration value="ltBlue" />
      <xsd:enumeration value="ltCoral" />
      <xsd:enumeration value="ltCyan" />
      <xsd:enumeration value="ltGoldenrodYellow" />
      <xsd:enumeration value="ltGray" />
      <xsd:enumeration value="ltGreen" />
      <xsd:enumeration value="ltPink" />
      <xsd:enumeration value="ltSalmon" />
      <xsd:enumeration value="ltSeaGreen" />
      <xsd:enumeration value="ltSkyBlue" />
      <xsd:enumeration value="ltSlateGray" />
      <xsd:enumeration value="ltSteelBlue" />
      <xsd:enumeration value="ltYellow" />
      <xsd:enumeration value="lime" />
      <xsd:enumeration value="limeGreen" />
      <xsd:enumeration value="linen" />
      <xsd:enumeration value="magenta" />
      <xsd:enumeration value="maroon" />
      <xsd:enumeration value="medAquamarine" />
      <xsd:enumeration value="medBlue" />
      <xsd:enumeration value="medOrchid" />
      <xsd:enumeration value="medPurple" />
      <xsd:enumeration value="medSeaGreen" />
      <xsd:enumeration value="medSlateBlue" />
      <xsd:enumeration value="medSpringGreen" />
      <xsd:enumeration value="medTurquoise" />
      <xsd:enumeration value="medVioletRed" />
      <xsd:enumeration value="midnightBlue" />
      <xsd:enumeration value="mintCream" />
      <xsd:enumeration value="mistyRose" />
      <xsd:enumeration value="moccasin" />
      <xsd:enumeration value="navajoWhite" />
      <xsd:enumeration value="navy" />
      <xsd:enumeration value="oldLace" />
      <xsd:enumeration value="olive" />
      <xsd:enumeration value="oliveDrab" />
      <xsd:enumeration value="orange" />
      <xsd:enumeration value="orangeRed" />
      <xsd:enumeration value="orchid" />
      <xsd:enumeration value="paleGoldenrod" />
      <xsd:enumeration value="paleGreen" />
      <xsd:enumeration value="paleTurquoise" />
      <xsd:enumeration value="paleVioletRed" />
      <xsd:enumeration value="papayaWhip" />
      <xsd:enumeration value="peachPuff" />
      <xsd:enumeration value="peru" />
      <xsd:enumeration value="pink" />
      <xsd:enumeration value="plum" />
      <xsd:enumeration value="powderBlue" />
      <xsd:enumeration value="purple" />
      <xsd:enumeration value="red" />
      <xsd:enumeration value="rosyBrown" />
      <xsd:enumeration value="royalBlue" />
      <xsd:enumeration value="saddleBrown" />
      <xsd:enumeration value="salmon" />
      <xsd:enumeration value="sandyBrown" />
      <xsd:enumeration value="seaGreen" />
      <xsd:enumeration value="seaShell" />
      <xsd:enumeration value="sienna" />
      <xsd:enumeration value="silver" />
      <xsd:enumeration value="skyBlue" />
      <xsd:enumeration value="slateBlue" />
      <xsd:enumeration value="slateGray" />
      <xsd:enumeration value="snow" />
      <xsd:enumeration value="springGreen" />
      <xsd:enumeration value="steelBlue" />
      <xsd:enumeration value="tan" />
      <xsd:enumeration value="teal" />
      <xsd:enumeration value="thistle" />
      <xsd:enumeration value="tomato" />
      <xsd:enumeration value="transparent" />
      <xsd:enumeration value="turquoise" />
      <xsd:enumeration value="violet" />
      <xsd:enumeration value="wheat" />
      <xsd:enumeration value="white" />
      <xsd:enumeration value="whiteSmoke" />
      <xsd:enumeration value="yellow" />
      <xsd:enumeration value="yellowGreen" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_PresetColor">
    <xsd:annotation>
      <xsd:documentation>Preset Color Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="EG_ColorTransform" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Color Transforms</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
    <xsd:attribute name="val" type="ST_PresetColorVal">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:group name="EG_OfficeArtExtension">
    <xsd:sequence>
      <xsd:element name="winExt" type="CT_OfficeArtPlatformExtension" minOccurs="0" maxOccurs="1" />
      <xsd:element name="macExt" type="CT_OfficeArtPlatformExtension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="CT_OfficeArtExtension">
    <xsd:sequence>
      <xsd:group ref="EG_OfficeArtExtension" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Scale2D">
    <xsd:annotation>
      <xsd:documentation>Scale in 2D</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sx" type="CT_Ratio" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Horizontal Ratio</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sy" type="CT_Ratio" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Vertical Ratio</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Transform2D">
    <xsd:annotation>
      <xsd:documentation>2D Transform Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="off" type="CT_Point2D" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Offset</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ext" type="CT_PositiveSize2D" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Extents</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="rot" type="ST_Angle" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Rotation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="flipH" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Horizontal Flip</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="flipV" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Vertical Flip</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_GroupTransform2D">
    <xsd:annotation>
      <xsd:documentation>Group 2D Transform Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="off" type="CT_Point2D" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Offset</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ext" type="CT_PositiveSize2D" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Extents</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="chOff" type="CT_Point2D" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Child Offset</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="chExt" type="CT_PositiveSize2D" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Child Extents</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="rot" type="ST_Angle" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Rotation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="flipH" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Horizontal Flip</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="flipV" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Vertical Flip</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Point3D">
    <xsd:annotation>
      <xsd:documentation>Point in 3D</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="x" type="ST_Coordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>X-Coordinate in 3D</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="y" type="ST_Coordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Y-Coordinate in 3D</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="z" type="ST_Coordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Z-Coordinate in 3D</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Vector3D">
    <xsd:annotation>
      <xsd:documentation>3D Vector Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="dx" type="ST_Coordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Distance along X-axis in 3D</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dy" type="ST_Coordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Distance along Y-axis in 3D</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dz" type="ST_Coordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Distance along Z-axis in 3D</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_SphereCoords">
    <xsd:annotation>
      <xsd:documentation>Sphere Coordinate Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="lat" type="ST_PositiveFixedAngle" use="required">
      <xsd:annotation>
        <xsd:documentation>Latitude</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lon" type="ST_PositiveFixedAngle" use="required">
      <xsd:annotation>
        <xsd:documentation>Longitude</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rev" type="ST_PositiveFixedAngle" use="required">
      <xsd:annotation>
        <xsd:documentation>Revolution</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RelativeRect">
    <xsd:annotation>
      <xsd:documentation>Relative Rectangle</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="l" type="ST_Percentage" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Left</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="t" type="ST_Percentage" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Top</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="r" type="ST_Percentage" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Right</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="b" type="ST_Percentage" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Bottom</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_RectAlignment">
    <xsd:annotation>
      <xsd:documentation>Rectangle Alignments</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="tl">
        <xsd:annotation>
          <xsd:documentation>Rectangle Alignment Enum ( Top Left )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="t">
        <xsd:annotation>
          <xsd:documentation>Rectangle Alignment Enum ( Top )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="tr">
        <xsd:annotation>
          <xsd:documentation>Rectangle Alignment Enum ( Top Right )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="l">
        <xsd:annotation>
          <xsd:documentation>Rectangle Alignment Enum ( Left )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ctr">
        <xsd:annotation>
          <xsd:documentation>Rectangle Alignment Enum ( Center )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="r">
        <xsd:annotation>
          <xsd:documentation>Rectangle Alignment Enum ( Right )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="bl">
        <xsd:annotation>
          <xsd:documentation>Rectangle Alignment Enum ( Bottom Left )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="b">
        <xsd:annotation>
          <xsd:documentation>Rectangle Alignment Enum ( Bottom )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="br">
        <xsd:annotation>
          <xsd:documentation>Rectangle Alignment Enum ( Bottom Right )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_Guid">
    <xsd:annotation>
      <xsd:documentation>Guid Method</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:pattern value="\{[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}\}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:group name="EG_ColorChoice">
    <xsd:annotation>
      <xsd:documentation>Color</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="scrgbClr" type="CT_ScRgbColor" minOccurs="1" maxOccurs="1" />
      <xsd:element name="srgbClr" type="CT_SRgbColor" minOccurs="1" maxOccurs="1" />
      <xsd:element name="hslClr" type="CT_HslColor" minOccurs="1" maxOccurs="1" />
      <xsd:element name="sysClr" type="CT_SystemColor" minOccurs="1" maxOccurs="1" />
      <xsd:element name="schemeClr" type="CT_SchemeColor" minOccurs="1" maxOccurs="1" />
      <xsd:element name="prstClr" type="CT_PresetColor" minOccurs="1" maxOccurs="1" />
    </xsd:choice>
  </xsd:group>
  <xsd:complexType name="CT_Color">
    <xsd:annotation>
      <xsd:documentation>Color</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="EG_ColorChoice">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_ColorMRU">
    <xsd:annotation>
      <xsd:documentation>Color MRU List</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="EG_ColorChoice" minOccurs="0" maxOccurs="10">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ST_BlackWhiteMode">
    <xsd:annotation>
      <xsd:documentation>Black and White Mode</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="clr" />
      <xsd:enumeration value="auto" />
      <xsd:enumeration value="gray" />
      <xsd:enumeration value="ltGray" />
      <xsd:enumeration value="invGray" />
      <xsd:enumeration value="grayWhite" />
      <xsd:enumeration value="blackGray" />
      <xsd:enumeration value="blackWhite" />
      <xsd:enumeration value="black" />
      <xsd:enumeration value="white" />
      <xsd:enumeration value="hidden" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:attributeGroup name="AG_Blob">
    <xsd:annotation>
      <xsd:documentation>BLOB Data</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ref="r:embed" use="optional" default="" />
    <xsd:attribute ref="r:link" use="optional" default="" />
  </xsd:attributeGroup>
  <xsd:complexType name="CT_WAVAudioFile">
    <xsd:annotation>
      <xsd:documentation>Audio File</xsd:documentation>
    </xsd:annotation>
    <xsd:attributeGroup ref="AG_Blob">
      <xsd:annotation>
        <xsd:documentation>Audio Data</xsd:documentation>
      </xsd:annotation>
    </xsd:attributeGroup>
  </xsd:complexType>
  <xsd:complexType name="CT_Hyperlink">
    <xsd:annotation>
      <xsd:documentation>Hyperlink Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ext" type="CT_OfficeArtExtension" minOccurs="0" maxOccurs="1" />
      <xsd:element name="snd" type="CT_WAVAudioFile" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute ref="r:id" use="optional">
      <xsd:annotation>
        <xsd:documentation>Drawing Object Hyperlink Target</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="invalidUrl" type="xsd:string" use="optional" default="" />
    <xsd:attribute name="action" type="xsd:string" use="optional" default="" />
    <xsd:attribute name="tgtFrame" type="xsd:string" use="optional" default="">
      <xsd:annotation>
        <xsd:documentation>Target Frame</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="tooltip" type="xsd:string" use="optional" default="">
      <xsd:annotation>
        <xsd:documentation>Hyperlink Tooltip</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="history" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Add Hyperlink to Page History</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="highlightClick" type="xsd:boolean" use="optional" default="false" />
    <xsd:attribute name="endSnd" type="xsd:boolean" use="optional" default="false" />
  </xsd:complexType>
  <xsd:simpleType name="ST_DrawingElementId">
    <xsd:annotation>
      <xsd:documentation>Drawing Element ID</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:unsignedInt" />
  </xsd:simpleType>
</xsd:schema>