ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/dml-shapeeffects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/drawingml/2006/3/main" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xsd:include schemaLocation="dml-basetypes.xsd" />
  <xsd:complexType name="CT_AlphaBiLevelEffect">
    <xsd:attribute name="thresh" type="ST_PositiveFixedPercentage" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_AlphaCeilingEffect" />
  <xsd:complexType name="CT_AlphaFloorEffect" />
  <xsd:complexType name="CT_AlphaInverseEffect">
    <xsd:sequence>
      <xsd:group ref="EG_ColorChoice" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_AlphaModulateFixedEffect">
    <xsd:attribute name="amt" type="ST_PositivePercentage" use="optional" default="100000">
      <xsd:annotation>
        <xsd:documentation>Amount</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_AlphaOutsetEffect">
    <xsd:attribute name="rad" type="ST_Coordinate" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Radius</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_AlphaReplaceEffect">
    <xsd:attribute name="a" type="ST_PositiveFixedPercentage" use="required">
      <xsd:annotation>
        <xsd:documentation>Alpha</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_BiLevelEffect">
    <xsd:attribute name="thresh" type="ST_PositiveFixedPercentage" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_BlurEffect">
    <xsd:attribute name="rad" type="ST_PositiveCoordinate" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Radius</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="grow" type="xsd:boolean" use="optional" default="true" />
  </xsd:complexType>
  <xsd:complexType name="CT_ColorChangeEffect">
    <xsd:sequence>
      <xsd:element name="clrFrom" type="CT_Color" minOccurs="1" maxOccurs="1" />
      <xsd:element name="clrTo" type="CT_Color" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="useA" type="xsd:boolean" use="optional" default="true" />
  </xsd:complexType>
  <xsd:complexType name="CT_ColorReplaceEffect">
    <xsd:sequence>
      <xsd:group ref="EG_ColorChoice" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ST_DuotoneTransferMode">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="lin" />
      <xsd:enumeration value="moreMidClr" />
      <xsd:enumeration value="lessMidClr" />
      <xsd:enumeration value="lessHighClr" />
      <xsd:enumeration value="lessShdw" />
      <xsd:enumeration value="moreClr" />
      <xsd:enumeration value="lessClr" />
      <xsd:enumeration value="invLin" />
      <xsd:enumeration value="invMoreMidClr" />
      <xsd:enumeration value="invLessMidClr" />
      <xsd:enumeration value="invLessHighClr" />
      <xsd:enumeration value="invLessShdw" />
      <xsd:enumeration value="invMoreClr" />
      <xsd:enumeration value="invLessClr" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_DuotoneEffect">
    <xsd:sequence>
      <xsd:group ref="EG_ColorChoice" minOccurs="2" maxOccurs="2">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
    <xsd:attribute name="xfr1" type="ST_DuotoneTransferMode" use="optional" default="lin" />
    <xsd:attribute name="xfr2" type="ST_DuotoneTransferMode" use="optional" default="invLin" />
  </xsd:complexType>
  <xsd:complexType name="CT_GlowEffect">
    <xsd:sequence>
      <xsd:group ref="EG_ColorChoice" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
    <xsd:attribute name="rad" type="ST_PositiveCoordinate" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Radius</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_GrayscaleEffect" />
  <xsd:complexType name="CT_HSLEffect">
    <xsd:attribute name="hue" type="ST_PositiveFixedAngle" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Hue</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sat" type="ST_FixedPercentage" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Saturation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lum" type="ST_FixedPercentage" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Luminance</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_InnerShadowEffect">
    <xsd:sequence>
      <xsd:group ref="EG_ColorChoice" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
    <xsd:attribute name="blurRad" type="ST_PositiveCoordinate" use="optional" default="0" />
    <xsd:attribute name="dist" type="ST_PositiveCoordinate" use="optional" default="0" />
    <xsd:attribute name="dir" type="ST_PositiveFixedAngle" use="optional" default="0" />
  </xsd:complexType>
  <xsd:complexType name="CT_LuminanceEffect">
    <xsd:attribute name="bright" type="ST_FixedPercentage" use="optional" default="0" />
    <xsd:attribute name="contrast" type="ST_FixedPercentage" use="optional" default="0" />
  </xsd:complexType>
  <xsd:complexType name="CT_OuterShadowEffect">
    <xsd:sequence>
      <xsd:group ref="EG_ColorChoice" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
    <xsd:attribute name="blurRad" type="ST_PositiveCoordinate" use="optional" default="0" />
    <xsd:attribute name="dist" type="ST_PositiveCoordinate" use="optional" default="0" />
    <xsd:attribute name="dir" type="ST_PositiveFixedAngle" use="optional" default="0" />
    <xsd:attribute name="sx" type="ST_Percentage" use="optional" default="100000">
      <xsd:annotation>
        <xsd:documentation>Horizontal Ratio</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sy" type="ST_Percentage" use="optional" default="100000">
      <xsd:annotation>
        <xsd:documentation>Vertical Ratio</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="kx" type="ST_FixedAngle" use="optional" default="0" />
    <xsd:attribute name="ky" type="ST_FixedAngle" use="optional" default="0" />
    <xsd:attribute name="algn" type="ST_RectAlignment" use="optional" default="b" />
    <xsd:attribute name="rotWithShape" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Rotate With Shape</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_PresetShadowVal">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="shdw1" />
      <xsd:enumeration value="shdw2" />
      <xsd:enumeration value="shdw3" />
      <xsd:enumeration value="shdw4" />
      <xsd:enumeration value="shdw5" />
      <xsd:enumeration value="shdw6" />
      <xsd:enumeration value="shdw7" />
      <xsd:enumeration value="shdw8" />
      <xsd:enumeration value="shdw9" />
      <xsd:enumeration value="shdw10" />
      <xsd:enumeration value="shdw11" />
      <xsd:enumeration value="shdw12" />
      <xsd:enumeration value="shdw13" />
      <xsd:enumeration value="shdw14" />
      <xsd:enumeration value="shdw15" />
      <xsd:enumeration value="shdw16" />
      <xsd:enumeration value="shdw17" />
      <xsd:enumeration value="shdw18" />
      <xsd:enumeration value="shdw19" />
      <xsd:enumeration value="shdw20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_PresetShadowEffect">
    <xsd:sequence>
      <xsd:group ref="EG_ColorChoice" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
    <xsd:attribute name="prst" type="ST_PresetShadowVal" use="required" />
    <xsd:attribute name="dist" type="ST_PositiveCoordinate" use="optional" default="0" />
    <xsd:attribute name="dir" type="ST_PositiveFixedAngle" use="optional" default="0" />
  </xsd:complexType>
  <xsd:complexType name="CT_ReflectionEffect">
    <xsd:attribute name="blurRad" type="ST_PositiveCoordinate" use="optional" default="0" />
    <xsd:attribute name="stA" type="ST_PositiveFixedPercentage" use="optional" default="100000">
      <xsd:annotation>
        <xsd:documentation>Start Opacity</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="stPos" type="ST_PositiveFixedPercentage" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Start Position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="endA" type="ST_PositiveFixedPercentage" use="optional" default="0" />
    <xsd:attribute name="endPos" type="ST_PositiveFixedPercentage" use="optional" default="100000" />
    <xsd:attribute name="dist" type="ST_PositiveCoordinate" use="optional" default="0" />
    <xsd:attribute name="dir" type="ST_PositiveFixedAngle" use="optional" default="0" />
    <xsd:attribute name="fadeDir" type="ST_PositiveFixedAngle" use="optional" default="5400000" />
    <xsd:attribute name="sx" type="ST_Percentage" use="optional" default="100000">
      <xsd:annotation>
        <xsd:documentation>Horizontal Ratio</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sy" type="ST_Percentage" use="optional" default="100000">
      <xsd:annotation>
        <xsd:documentation>Vertical Ratio</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="kx" type="ST_FixedAngle" use="optional" default="0" />
    <xsd:attribute name="ky" type="ST_FixedAngle" use="optional" default="0" />
    <xsd:attribute name="algn" type="ST_RectAlignment" use="optional" default="b" />
    <xsd:attribute name="rotWithShape" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Rotate With Shape</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RelativeOffsetEffect">
    <xsd:attribute name="tx" type="ST_Percentage" use="optional" default="0" />
    <xsd:attribute name="ty" type="ST_Percentage" use="optional" default="0" />
  </xsd:complexType>
  <xsd:complexType name="CT_SoftEdgesEffect">
    <xsd:attribute name="rad" type="ST_PositiveCoordinate" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_TintEffect">
    <xsd:attribute name="hue" type="ST_PositiveFixedAngle" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Hue</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="amt" type="ST_FixedPercentage" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Amount</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_TransformEffect">
    <xsd:attribute name="sx" type="ST_Percentage" use="optional" default="100000">
      <xsd:annotation>
        <xsd:documentation>Horizontal Ratio</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sy" type="ST_Percentage" use="optional" default="100000">
      <xsd:annotation>
        <xsd:documentation>Vertical Ratio</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="kx" type="ST_FixedAngle" use="optional" default="0" />
    <xsd:attribute name="ky" type="ST_FixedAngle" use="optional" default="0" />
    <xsd:attribute name="tx" type="ST_Coordinate" use="optional" default="0" />
    <xsd:attribute name="ty" type="ST_Coordinate" use="optional" default="0" />
  </xsd:complexType>
  <xsd:complexType name="CT_NoFillProperties" />
  <xsd:complexType name="CT_SolidColorFillProperties">
    <xsd:sequence>
      <xsd:group ref="EG_ColorChoice" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_LinearShadeProperties">
    <xsd:attribute name="ang" type="ST_PositiveFixedAngle" use="optional">
      <xsd:annotation>
        <xsd:documentation>Angle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="scaled" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Scaled</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_PathShadeType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="shape" />
      <xsd:enumeration value="circle" />
      <xsd:enumeration value="rect" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_PathShadeProperties">
    <xsd:sequence>
      <xsd:element name="fillToRect" type="CT_RelativeRect" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="path" type="ST_PathShadeType" use="optional" />
  </xsd:complexType>
  <xsd:group name="EG_ShadeProperties">
    <xsd:choice>
      <xsd:element name="lin" type="CT_LinearShadeProperties" minOccurs="1" maxOccurs="1" />
      <xsd:element name="path" type="CT_PathShadeProperties" minOccurs="1" maxOccurs="1" />
    </xsd:choice>
  </xsd:group>
  <xsd:simpleType name="ST_TileFlipMode">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="none" />
      <xsd:enumeration value="x" />
      <xsd:enumeration value="y" />
      <xsd:enumeration value="xy" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_GradientStop">
    <xsd:sequence>
      <xsd:group ref="EG_ColorChoice" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
    <xsd:attribute name="pos" type="ST_PositiveFixedPercentage" use="required">
      <xsd:annotation>
        <xsd:documentation>Position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_GradientStopList">
    <xsd:sequence>
      <xsd:element name="gs" type="CT_GradientStop" minOccurs="2" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Gradient stops</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_GradientFillProperties">
    <xsd:sequence>
      <xsd:element name="gsLst" type="CT_GradientStopList" minOccurs="0" maxOccurs="1" />
      <xsd:group ref="EG_ShadeProperties" minOccurs="0" maxOccurs="1" />
      <xsd:element name="tileRect" type="CT_RelativeRect" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="flip" type="ST_TileFlipMode" use="optional" />
    <xsd:attribute name="rotWithShape" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rotate With Shape</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_TileInfoProperties">
    <xsd:attribute name="tx" type="ST_Coordinate" use="optional" />
    <xsd:attribute name="ty" type="ST_Coordinate" use="optional" />
    <xsd:attribute name="sx" type="ST_Percentage" use="optional">
      <xsd:annotation>
        <xsd:documentation>Horizontal Ratio</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sy" type="ST_Percentage" use="optional">
      <xsd:annotation>
        <xsd:documentation>Vertical Ratio</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="flip" type="ST_TileFlipMode" use="optional" />
    <xsd:attribute name="algn" type="ST_RectAlignment" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="CT_StretchInfoProperties">
    <xsd:sequence>
      <xsd:element name="fillRect" type="CT_RelativeRect" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="EG_FillModeProperties">
    <xsd:choice>
      <xsd:element name="tile" type="CT_TileInfoProperties" minOccurs="1" maxOccurs="1" />
      <xsd:element name="stretch" type="CT_StretchInfoProperties" minOccurs="1" maxOccurs="1" />
    </xsd:choice>
  </xsd:group>
  <xsd:simpleType name="ST_BlipCompression">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="email" />
      <xsd:enumeration value="screen" />
      <xsd:enumeration value="print" />
      <xsd:enumeration value="hqprint" />
      <xsd:enumeration value="none" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_Blip">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="alphaBiLevel" type="CT_AlphaBiLevelEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="alphaCeiling" type="CT_AlphaCeilingEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="alphaFloor" type="CT_AlphaFloorEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="alphaInv" type="CT_AlphaInverseEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="alphaMod" type="CT_AlphaModulateEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="alphaModFix" type="CT_AlphaModulateFixedEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="alphaRepl" type="CT_AlphaReplaceEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="biLevel" type="CT_BiLevelEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="blur" type="CT_BlurEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="clrChange" type="CT_ColorChangeEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="clrRepl" type="CT_ColorReplaceEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="duotone" type="CT_DuotoneEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="fillOverlay" type="CT_FillOverlayEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="grayscl" type="CT_GrayscaleEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="hsl" type="CT_HSLEffect" minOccurs="1" maxOccurs="1" />
        <xsd:element name="lum" type="CT_LuminanceEffect" minOccurs="1" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation>Luminance</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tint" type="CT_TintEffect" minOccurs="1" maxOccurs="1" />
      </xsd:choice>
      <xsd:element name="ext" type="CT_OfficeArtExtension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attributeGroup ref="AG_Blob">
      <xsd:annotation>
        <xsd:documentation>Image Data</xsd:documentation>
      </xsd:annotation>
    </xsd:attributeGroup>
    <xsd:attribute name="cstate" type="ST_BlipCompression" use="optional" default="none" />
  </xsd:complexType>
  <xsd:complexType name="CT_BlipFillProperties">
    <xsd:sequence>
      <xsd:element name="blip" type="CT_Blip" minOccurs="0" maxOccurs="1" />
      <xsd:element name="srcRect" type="CT_RelativeRect" minOccurs="0" maxOccurs="1" />
      <xsd:group ref="EG_FillModeProperties" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="dpi" type="xsd:unsignedInt" use="optional" />
    <xsd:attribute name="rotWithShape" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rotate With Shape</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_PresetPatternVal">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="pct5" />
      <xsd:enumeration value="pct10" />
      <xsd:enumeration value="pct20" />
      <xsd:enumeration value="pct25" />
      <xsd:enumeration value="pct30" />
      <xsd:enumeration value="pct40" />
      <xsd:enumeration value="pct50" />
      <xsd:enumeration value="pct60" />
      <xsd:enumeration value="pct70" />
      <xsd:enumeration value="pct75" />
      <xsd:enumeration value="pct80" />
      <xsd:enumeration value="pct90" />
      <xsd:enumeration value="horz" />
      <xsd:enumeration value="vert" />
      <xsd:enumeration value="ltHorz" />
      <xsd:enumeration value="ltVert" />
      <xsd:enumeration value="dkHorz" />
      <xsd:enumeration value="dkVert" />
      <xsd:enumeration value="narHorz" />
      <xsd:enumeration value="narVert" />
      <xsd:enumeration value="dashHorz" />
      <xsd:enumeration value="dashVert" />
      <xsd:enumeration value="cross" />
      <xsd:enumeration value="dnDiag" />
      <xsd:enumeration value="upDiag" />
      <xsd:enumeration value="ltDnDiag" />
      <xsd:enumeration value="ltUpDiag" />
      <xsd:enumeration value="dkDnDiag" />
      <xsd:enumeration value="dkUpDiag" />
      <xsd:enumeration value="wdDnDiag" />
      <xsd:enumeration value="wdUpDiag" />
      <xsd:enumeration value="dashDnDiag" />
      <xsd:enumeration value="dashUpDiag" />
      <xsd:enumeration value="diagCross" />
      <xsd:enumeration value="smCheck" />
      <xsd:enumeration value="lgCheck" />
      <xsd:enumeration value="smGrid" />
      <xsd:enumeration value="lgGrid" />
      <xsd:enumeration value="dotGrid" />
      <xsd:enumeration value="smConfetti" />
      <xsd:enumeration value="lgConfetti" />
      <xsd:enumeration value="horzBrick" />
      <xsd:enumeration value="diagBrick" />
      <xsd:enumeration value="solidDmnd" />
      <xsd:enumeration value="openDmnd" />
      <xsd:enumeration value="dotDmnd" />
      <xsd:enumeration value="plaid" />
      <xsd:enumeration value="sphere" />
      <xsd:enumeration value="weave" />
      <xsd:enumeration value="divot" />
      <xsd:enumeration value="shingle" />
      <xsd:enumeration value="wave" />
      <xsd:enumeration value="trellis" />
      <xsd:enumeration value="zigZag" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_PatternFillProperties">
    <xsd:sequence>
      <xsd:element name="fgClr" type="CT_Color" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Foreground color</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bgClr" type="CT_Color" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Background color</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="prst" type="ST_PresetPatternVal" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="CT_GroupFillProperties" />
  <xsd:group name="EG_FillProperties">
    <xsd:choice>
      <xsd:element name="noFill" type="CT_NoFillProperties" minOccurs="1" maxOccurs="1" />
      <xsd:element name="solidFill" type="CT_SolidColorFillProperties" minOccurs="1" maxOccurs="1" />
      <xsd:element name="gradFill" type="CT_GradientFillProperties" minOccurs="1" maxOccurs="1" />
      <xsd:element name="blipFill" type="CT_BlipFillProperties" minOccurs="1" maxOccurs="1" />
      <xsd:element name="pattFill" type="CT_PatternFillProperties" minOccurs="1" maxOccurs="1" />
      <xsd:element name="grpFill" type="CT_GroupFillProperties" minOccurs="1" maxOccurs="1" />
    </xsd:choice>
  </xsd:group>
  <xsd:complexType name="CT_FillProperties">
    <xsd:sequence>
      <xsd:group ref="EG_FillProperties" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_FillEffect">
    <xsd:sequence>
      <xsd:group ref="EG_FillProperties" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ST_BlendMode">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="over" />
      <xsd:enumeration value="mult" />
      <xsd:enumeration value="screen" />
      <xsd:enumeration value="darken" />
      <xsd:enumeration value="lighten" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_FillOverlayEffect">
    <xsd:sequence>
      <xsd:group ref="EG_FillProperties" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="blend" type="ST_BlendMode" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_EffectReference">
    <xsd:attribute name="ref" type="xsd:token" />
  </xsd:complexType>
  <xsd:group name="EG_Effect">
    <xsd:choice>
      <xsd:element name="cont" type="CT_EffectContainer" minOccurs="1" maxOccurs="1" />
      <xsd:element name="effect" type="CT_EffectReference" minOccurs="1" maxOccurs="1" />
      <xsd:element name="alphaBiLevel" type="CT_AlphaBiLevelEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="alphaCeiling" type="CT_AlphaCeilingEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="alphaFloor" type="CT_AlphaFloorEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="alphaInv" type="CT_AlphaInverseEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="alphaMod" type="CT_AlphaModulateEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="alphaModFix" type="CT_AlphaModulateFixedEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="alphaOutset" type="CT_AlphaOutsetEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="alphaRepl" type="CT_AlphaReplaceEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="biLevel" type="CT_BiLevelEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="blend" type="CT_BlendEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="blur" type="CT_BlurEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="clrChange" type="CT_ColorChangeEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="clrRepl" type="CT_ColorReplaceEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="duotone" type="CT_DuotoneEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="fill" type="CT_FillEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="fillOverlay" type="CT_FillOverlayEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="glow" type="CT_GlowEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="grayscl" type="CT_GrayscaleEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="hsl" type="CT_HSLEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="innerShdw" type="CT_InnerShadowEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="lum" type="CT_LuminanceEffect" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Luminance</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="outerShdw" type="CT_OuterShadowEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="prstShdw" type="CT_PresetShadowEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="reflection" type="CT_ReflectionEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="relOff" type="CT_RelativeOffsetEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="softEdge" type="CT_SoftEdgesEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="tint" type="CT_TintEffect" minOccurs="1" maxOccurs="1" />
      <xsd:element name="xfrm" type="CT_TransformEffect" minOccurs="1" maxOccurs="1" />
    </xsd:choice>
  </xsd:group>
  <xsd:simpleType name="ST_EffectContainerType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="sib" />
      <xsd:enumeration value="tree" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_EffectContainer">
    <xsd:group ref="EG_Effect" minOccurs="0" maxOccurs="unbounded" />
    <xsd:attribute name="type" type="ST_EffectContainerType" use="optional" default="sib" />
    <xsd:attribute name="name" type="xsd:token" use="optional">
      <xsd:annotation>
        <xsd:documentation>Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_AlphaModulateEffect">
    <xsd:sequence>
      <xsd:element name="cont" type="CT_EffectContainer" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_BlendEffect">
    <xsd:sequence>
      <xsd:element name="cont" type="CT_EffectContainer" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Effect to blend</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="blend" type="ST_BlendMode" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_EffectList">
    <xsd:sequence>
      <xsd:element name="blur" type="CT_BlurEffect" minOccurs="0" maxOccurs="1" />
      <xsd:element name="fillOverlay" type="CT_FillOverlayEffect" minOccurs="0" maxOccurs="1" />
      <xsd:element name="glow" type="CT_GlowEffect" minOccurs="0" maxOccurs="1" />
      <xsd:element name="innerShdw" type="CT_InnerShadowEffect" minOccurs="0" maxOccurs="1" />
      <xsd:element name="outerShdw" type="CT_OuterShadowEffect" minOccurs="0" maxOccurs="1" />
      <xsd:element name="prstShdw" type="CT_PresetShadowEffect" minOccurs="0" maxOccurs="1" />
      <xsd:element name="reflection" type="CT_ReflectionEffect" minOccurs="0" maxOccurs="1" />
      <xsd:element name="softEdge" type="CT_SoftEdgesEffect" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="EG_EffectProperties">
    <xsd:choice>
      <xsd:element name="effectLst" type="CT_EffectList" minOccurs="1" maxOccurs="1" />
      <xsd:element name="effectDag" type="CT_EffectContainer" minOccurs="1" maxOccurs="1" />
    </xsd:choice>
  </xsd:group>
  <xsd:complexType name="CT_EffectProperties">
    <xsd:sequence>
      <xsd:group ref="EG_EffectProperties" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="blip" type="CT_Blip" />
</xsd:schema>