ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/dml-chartDrawing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.openxmlformats.org/drawingml/2006/3/chartdr" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/3/main" xmlns:oxsd="http://oxsdSchemaUri" xmlns="http://schemas.openxmlformats.org/drawingml/2006/3/chartdr" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xsd:import schemaLocation="dml-shapestyle.xsd" namespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" />
  <xsd:import schemaLocation="dml-docproperties.xsd" namespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" />
  <xsd:import schemaLocation="dml-graphicalobject.xsd" namespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" />
  <xsd:import schemaLocation="dml-text.xsd" namespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" />
  <xsd:complexType name="CT_ShapeNonVisual">
    <xsd:sequence>
      <xsd:element name="cNvPr" type="a:CT_NonVisualDrawingProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Chart Non Visual Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cNvSpPr" type="a:CT_NonVisualDrawingShapeProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Chart Non Visual Shape Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Shape">
    <xsd:sequence>
      <xsd:element name="nvSpPr" type="CT_ShapeNonVisual" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Shape Non Visual Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="spPr" type="a:CT_ShapeProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Shape Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="style" type="a:CT_ShapeStyle" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Shape Style</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="txBody" type="a:CT_TextBody" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Shape Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_ConnectorNonVisual">
    <xsd:sequence>
      <xsd:element name="cNvPr" type="a:CT_NonVisualDrawingProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Chart Non Visual Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cNvCxnSpPr" type="a:CT_NonVisualConnectorProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Connector Non Visual Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Connector">
    <xsd:sequence>
      <xsd:element name="nvCxnSpPr" type="CT_ConnectorNonVisual" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Connector Non Visual Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="spPr" type="a:CT_ShapeProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Connection Shape Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="style" type="a:CT_ShapeStyle" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Connection Shape Style</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_GraphicFrameNonVisual">
    <xsd:sequence>
      <xsd:element name="cNvPr" type="a:CT_NonVisualDrawingProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Chart Non Visual Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cNvGraphicFramePr" type="a:CT_NonVisualGraphicFrameProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Chart Non Visual Graphic Frame Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_GraphicFrame">
    <xsd:sequence>
      <xsd:element name="nvGraphicFramePr" type="CT_GraphicFrameNonVisual" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Graphic Frame Non Visual Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="xfrm" type="a:CT_Transform2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Graphic Frame Transform</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="a:graphic" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Graphical Object</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="macro" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Macro</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_GroupShapeNonVisual">
    <xsd:sequence>
      <xsd:element name="cNvPr" type="a:CT_NonVisualDrawingProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Chart Non Visual Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cNvGrpSpPr" type="a:CT_NonVisualGroupDrawingShapeProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Chart Non Visual Group Shape Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_GroupShape">
    <xsd:sequence>
      <xsd:element name="nvGrpSpPr" type="CT_GroupShapeNonVisual" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Group Shape Non Visual Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="grpSpPr" type="a:CT_GroupShapeProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Group Shape Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="sp" type="CT_Shape">
          <xsd:annotation>
            <xsd:documentation>Shape Definition</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="grpSp" type="CT_GroupShape">
          <xsd:annotation>
            <xsd:documentation>Group Shape</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="graphicFrame" type="CT_GraphicFrame">
          <xsd:annotation>
            <xsd:documentation>Graphic Frame</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="cxnSp" type="CT_Connector">
          <xsd:annotation>
            <xsd:documentation>Connector Shape</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="EG_ObjectChoices">
    <xsd:annotation>
      <xsd:documentation>Choice of Shapes</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice minOccurs="1" maxOccurs="1">
        <xsd:element name="sp" type="CT_Shape">
          <xsd:annotation>
            <xsd:documentation>Shape Definition</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="grpSp" type="CT_GroupShape">
          <xsd:annotation>
            <xsd:documentation>Group Shape</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="graphicFrame" type="CT_GraphicFrame">
          <xsd:annotation>
            <xsd:documentation>Graphic Frame</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="cxnSp" type="CT_Connector">
          <xsd:annotation>
            <xsd:documentation>Connector Shape</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <xsd:simpleType name="ST_MarkerCoordinate">
    <xsd:annotation>
      <xsd:documentation>Chart Marker Coordinate Value</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0.0" />
      <xsd:maxInclusive value="1.0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_Marker">
    <xsd:sequence>
      <xsd:element name="x" type="ST_MarkerCoordinate" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Relative X Coordinate</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="y" type="ST_MarkerCoordinate" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Relative Y Coordinate</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_RelSizeAnchor">
    <xsd:sequence>
      <xsd:element name="from" type="CT_Marker">
        <xsd:annotation>
          <xsd:documentation>From</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="to" type="CT_Marker">
        <xsd:annotation>
          <xsd:documentation>Relative Anchor End Point</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="EG_ObjectChoices">
        <xsd:annotation>
          <xsd:documentation>Choice of Shape Types</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Drawing">
    <xsd:sequence>
      <xsd:element name="relSizeAnchor" type="CT_RelSizeAnchor" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Relative Size Anchor</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>