ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/dml-shapegeometry.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/drawingml/2006/3/main" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xsd:include schemaLocation="dml-basetypes.xsd" />
  <xsd:simpleType name="ST_ShapeType">
    <xsd:annotation>
      <xsd:documentation>Shape Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="line" />
      <xsd:enumeration value="lineInv" />
      <xsd:enumeration value="triangle" />
      <xsd:enumeration value="rtTriangle" />
      <xsd:enumeration value="rect" />
      <xsd:enumeration value="diamond" />
      <xsd:enumeration value="parallelogram" />
      <xsd:enumeration value="trapezoid" />
      <xsd:enumeration value="nonIsoscelesTrapezoid" />
      <xsd:enumeration value="pentagon" />
      <xsd:enumeration value="hexagon" />
      <xsd:enumeration value="heptagon" />
      <xsd:enumeration value="octagon" />
      <xsd:enumeration value="decagon" />
      <xsd:enumeration value="dodecagon" />
      <xsd:enumeration value="star4" />
      <xsd:enumeration value="star5" />
      <xsd:enumeration value="star6" />
      <xsd:enumeration value="star7" />
      <xsd:enumeration value="star8" />
      <xsd:enumeration value="star10" />
      <xsd:enumeration value="star12" />
      <xsd:enumeration value="star16" />
      <xsd:enumeration value="star24" />
      <xsd:enumeration value="star32" />
      <xsd:enumeration value="roundRect" />
      <xsd:enumeration value="round1Rect" />
      <xsd:enumeration value="round2SameRect" />
      <xsd:enumeration value="round2DiagRect" />
      <xsd:enumeration value="snipRoundRect" />
      <xsd:enumeration value="snip1Rect" />
      <xsd:enumeration value="snip2SameRect" />
      <xsd:enumeration value="snip2DiagRect" />
      <xsd:enumeration value="plaque" />
      <xsd:enumeration value="ellipse" />
      <xsd:enumeration value="teardrop" />
      <xsd:enumeration value="homePlate" />
      <xsd:enumeration value="chevron" />
      <xsd:enumeration value="pieWedge" />
      <xsd:enumeration value="pie" />
      <xsd:enumeration value="blockArc" />
      <xsd:enumeration value="donut" />
      <xsd:enumeration value="noSmoking" />
      <xsd:enumeration value="rightArrow" />
      <xsd:enumeration value="leftArrow" />
      <xsd:enumeration value="upArrow" />
      <xsd:enumeration value="downArrow" />
      <xsd:enumeration value="stripedRightArrow" />
      <xsd:enumeration value="notchedRightArrow" />
      <xsd:enumeration value="bentUpArrow" />
      <xsd:enumeration value="leftRightArrow" />
      <xsd:enumeration value="upDownArrow" />
      <xsd:enumeration value="leftUpArrow" />
      <xsd:enumeration value="leftRightUpArrow" />
      <xsd:enumeration value="quadArrow" />
      <xsd:enumeration value="leftArrowCallout" />
      <xsd:enumeration value="rightArrowCallout" />
      <xsd:enumeration value="upArrowCallout" />
      <xsd:enumeration value="downArrowCallout" />
      <xsd:enumeration value="leftRightArrowCallout" />
      <xsd:enumeration value="upDownArrowCallout" />
      <xsd:enumeration value="quadArrowCallout" />
      <xsd:enumeration value="bentArrow" />
      <xsd:enumeration value="uturnArrow" />
      <xsd:enumeration value="circularArrow" />
      <xsd:enumeration value="leftCircularArrow" />
      <xsd:enumeration value="leftRightCircularArrow" />
      <xsd:enumeration value="curvedRightArrow" />
      <xsd:enumeration value="curvedLeftArrow" />
      <xsd:enumeration value="curvedUpArrow" />
      <xsd:enumeration value="curvedDownArrow" />
      <xsd:enumeration value="swooshArrow" />
      <xsd:enumeration value="cube" />
      <xsd:enumeration value="can" />
      <xsd:enumeration value="lightningBolt" />
      <xsd:enumeration value="heart" />
      <xsd:enumeration value="sun" />
      <xsd:enumeration value="moon" />
      <xsd:enumeration value="smileyFace" />
      <xsd:enumeration value="irregularSeal1" />
      <xsd:enumeration value="irregularSeal2" />
      <xsd:enumeration value="foldedCorner" />
      <xsd:enumeration value="bevel" />
      <xsd:enumeration value="frame" />
      <xsd:enumeration value="halfFrame" />
      <xsd:enumeration value="corner" />
      <xsd:enumeration value="diagStripe" />
      <xsd:enumeration value="chord" />
      <xsd:enumeration value="arc" />
      <xsd:enumeration value="leftBracket" />
      <xsd:enumeration value="rightBracket" />
      <xsd:enumeration value="leftBrace" />
      <xsd:enumeration value="rightBrace" />
      <xsd:enumeration value="bracketPair" />
      <xsd:enumeration value="bracePair" />
      <xsd:enumeration value="straightConnector1" />
      <xsd:enumeration value="bentConnector2" />
      <xsd:enumeration value="bentConnector3" />
      <xsd:enumeration value="bentConnector4" />
      <xsd:enumeration value="bentConnector5" />
      <xsd:enumeration value="curvedConnector2" />
      <xsd:enumeration value="curvedConnector3" />
      <xsd:enumeration value="curvedConnector4" />
      <xsd:enumeration value="curvedConnector5" />
      <xsd:enumeration value="callout1" />
      <xsd:enumeration value="callout2" />
      <xsd:enumeration value="callout3" />
      <xsd:enumeration value="accentCallout1" />
      <xsd:enumeration value="accentCallout2" />
      <xsd:enumeration value="accentCallout3" />
      <xsd:enumeration value="borderCallout1" />
      <xsd:enumeration value="borderCallout2" />
      <xsd:enumeration value="borderCallout3" />
      <xsd:enumeration value="accentBorderCallout1" />
      <xsd:enumeration value="accentBorderCallout2" />
      <xsd:enumeration value="accentBorderCallout3" />
      <xsd:enumeration value="wedgeRectCallout" />
      <xsd:enumeration value="wedgeRoundRectCallout" />
      <xsd:enumeration value="wedgeEllipseCallout" />
      <xsd:enumeration value="cloudCallout" />
      <xsd:enumeration value="cloud" />
      <xsd:enumeration value="ribbon" />
      <xsd:enumeration value="ribbon2" />
      <xsd:enumeration value="ellipseRibbon" />
      <xsd:enumeration value="ellipseRibbon2" />
      <xsd:enumeration value="leftRightRibbon" />
      <xsd:enumeration value="verticalScroll" />
      <xsd:enumeration value="horizontalScroll" />
      <xsd:enumeration value="wave" />
      <xsd:enumeration value="doubleWave" />
      <xsd:enumeration value="plus" />
      <xsd:enumeration value="flowChartProcess" />
      <xsd:enumeration value="flowChartDecision" />
      <xsd:enumeration value="flowChartInputOutput" />
      <xsd:enumeration value="flowChartPredefinedProcess" />
      <xsd:enumeration value="flowChartInternalStorage" />
      <xsd:enumeration value="flowChartDocument" />
      <xsd:enumeration value="flowChartMultidocument" />
      <xsd:enumeration value="flowChartTerminator" />
      <xsd:enumeration value="flowChartPreparation" />
      <xsd:enumeration value="flowChartManualInput" />
      <xsd:enumeration value="flowChartManualOperation" />
      <xsd:enumeration value="flowChartConnector" />
      <xsd:enumeration value="flowChartPunchedCard" />
      <xsd:enumeration value="flowChartPunchedTape" />
      <xsd:enumeration value="flowChartSummingJunction" />
      <xsd:enumeration value="flowChartOr" />
      <xsd:enumeration value="flowChartCollate" />
      <xsd:enumeration value="flowChartSort" />
      <xsd:enumeration value="flowChartExtract" />
      <xsd:enumeration value="flowChartMerge" />
      <xsd:enumeration value="flowChartOfflineStorage" />
      <xsd:enumeration value="flowChartOnlineStorage" />
      <xsd:enumeration value="flowChartMagneticTape" />
      <xsd:enumeration value="flowChartMagneticDisk" />
      <xsd:enumeration value="flowChartMagneticDrum" />
      <xsd:enumeration value="flowChartDisplay" />
      <xsd:enumeration value="flowChartDelay" />
      <xsd:enumeration value="flowChartAlternateProcess" />
      <xsd:enumeration value="flowChartOffpageConnector" />
      <xsd:enumeration value="actionButtonBlank" />
      <xsd:enumeration value="actionButtonHome" />
      <xsd:enumeration value="actionButtonHelp" />
      <xsd:enumeration value="actionButtonInformation" />
      <xsd:enumeration value="actionButtonForwardNext" />
      <xsd:enumeration value="actionButtonBackPrevious" />
      <xsd:enumeration value="actionButtonEnd" />
      <xsd:enumeration value="actionButtonBeginning" />
      <xsd:enumeration value="actionButtonReturn" />
      <xsd:enumeration value="actionButtonDocument" />
      <xsd:enumeration value="actionButtonSound" />
      <xsd:enumeration value="actionButtonMovie" />
      <xsd:enumeration value="gear6" />
      <xsd:enumeration value="gear9" />
      <xsd:enumeration value="funnel" />
      <xsd:enumeration value="mathPlus" />
      <xsd:enumeration value="mathMinus" />
      <xsd:enumeration value="mathMultiply" />
      <xsd:enumeration value="mathDivide" />
      <xsd:enumeration value="mathEqual" />
      <xsd:enumeration value="mathNotEqual" />
      <xsd:enumeration value="cornerTabs" />
      <xsd:enumeration value="squareTabs" />
      <xsd:enumeration value="plaqueTabs" />
      <xsd:enumeration value="chartX" />
      <xsd:enumeration value="chartStar" />
      <xsd:enumeration value="chartPlus" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_TextShapeType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="textPlain" />
      <xsd:enumeration value="textStop" />
      <xsd:enumeration value="textTriangle" />
      <xsd:enumeration value="textTriangleInverted" />
      <xsd:enumeration value="textChevron" />
      <xsd:enumeration value="textChevronInverted" />
      <xsd:enumeration value="textRingInside" />
      <xsd:enumeration value="textRingOutside" />
      <xsd:enumeration value="textArchUp" />
      <xsd:enumeration value="textArchDown" />
      <xsd:enumeration value="textCircle" />
      <xsd:enumeration value="textButton" />
      <xsd:enumeration value="textArchUpPour" />
      <xsd:enumeration value="textArchDownPour" />
      <xsd:enumeration value="textCirclePour" />
      <xsd:enumeration value="textButtonPour" />
      <xsd:enumeration value="textCurveUp" />
      <xsd:enumeration value="textCurveDown" />
      <xsd:enumeration value="textCanUp" />
      <xsd:enumeration value="textCanDown" />
      <xsd:enumeration value="textWave1" />
      <xsd:enumeration value="textWave2" />
      <xsd:enumeration value="textDoubleWave1" />
      <xsd:enumeration value="textWave4" />
      <xsd:enumeration value="textInflate" />
      <xsd:enumeration value="textDeflate" />
      <xsd:enumeration value="textInflateBottom" />
      <xsd:enumeration value="textDeflateBottom" />
      <xsd:enumeration value="textInflateTop" />
      <xsd:enumeration value="textDeflateTop" />
      <xsd:enumeration value="textDeflateInflate" />
      <xsd:enumeration value="textDeflateInflateDeflate" />
      <xsd:enumeration value="textFadeRight" />
      <xsd:enumeration value="textFadeLeft" />
      <xsd:enumeration value="textFadeUp" />
      <xsd:enumeration value="textFadeDown" />
      <xsd:enumeration value="textSlantUp" />
      <xsd:enumeration value="textSlantDown" />
      <xsd:enumeration value="textCascadeUp" />
      <xsd:enumeration value="textCascadeDown" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_GeomGuideName">
    <xsd:annotation>
      <xsd:documentation>Geometry Guide Name Properties</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_GeomGuideFormula">
    <xsd:annotation>
      <xsd:documentation>Geometry Guide Formula Properties</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="CT_GeomGuide">
    <xsd:annotation>
      <xsd:documentation>Geometry Guide Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="name" type="ST_GeomGuideName" use="required">
      <xsd:annotation>
        <xsd:documentation>Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fmla" type="ST_GeomGuideFormula" use="required">
      <xsd:annotation>
        <xsd:documentation>Formula</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_GeomGuideList">
    <xsd:annotation>
      <xsd:documentation>Geometry Guide List</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="gd" type="CT_GeomGuide" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Guide</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ST_AdjCoordinate">
    <xsd:annotation>
      <xsd:documentation>Adjustable Coordinate Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:union memberTypes="ST_Coordinate ST_GeomGuideName" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_AdjAngle">
    <xsd:annotation>
      <xsd:documentation>Adjustable Angle Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:union memberTypes="ST_Angle ST_GeomGuideName" />
  </xsd:simpleType>
  <xsd:complexType name="CT_AdjPoint2D">
    <xsd:annotation>
      <xsd:documentation>Adjustable 2D Point Methods</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="x" type="ST_AdjCoordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>X-Coordinate</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="y" type="ST_AdjCoordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Y-Coordinate</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_GeomRect">
    <xsd:attribute name="l" type="ST_AdjCoordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Left</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="t" type="ST_AdjCoordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Top</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="r" type="ST_AdjCoordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Right</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="b" type="ST_AdjCoordinate" use="required">
      <xsd:annotation>
        <xsd:documentation>Bottom Position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_XYAdjustHandle">
    <xsd:sequence>
      <xsd:element name="pos" type="CT_AdjPoint2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Position</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="gdRefX" type="ST_GeomGuideName" use="optional" />
    <xsd:attribute name="minX" type="ST_AdjCoordinate" use="optional" />
    <xsd:attribute name="maxX" type="ST_AdjCoordinate" use="optional" />
    <xsd:attribute name="gdRefY" type="ST_GeomGuideName" use="optional" />
    <xsd:attribute name="minY" type="ST_AdjCoordinate" use="optional" />
    <xsd:attribute name="maxY" type="ST_AdjCoordinate" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="CT_PolarAdjustHandle">
    <xsd:sequence>
      <xsd:element name="pos" type="CT_AdjPoint2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Position</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="gdRefR" type="ST_GeomGuideName" use="optional" />
    <xsd:attribute name="minR" type="ST_AdjCoordinate" use="optional" />
    <xsd:attribute name="maxR" type="ST_AdjCoordinate" use="optional" />
    <xsd:attribute name="gdRefAng" type="ST_GeomGuideName" use="optional" />
    <xsd:attribute name="minAng" type="ST_AdjAngle" use="optional" />
    <xsd:attribute name="maxAng" type="ST_AdjAngle" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="CT_ConnectionSite">
    <xsd:sequence>
      <xsd:element name="pos" type="CT_AdjPoint2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Position</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="ang" type="ST_AdjAngle" use="required">
      <xsd:annotation>
        <xsd:documentation>Angle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_AdjustHandleList">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="ahXY" type="CT_XYAdjustHandle" minOccurs="1" maxOccurs="1" />
      <xsd:element name="ahPolar" type="CT_PolarAdjustHandle" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Polar Adjust Handle</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="CT_ConnectionSiteList">
    <xsd:sequence>
      <xsd:element name="cxn" type="CT_ConnectionSite" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Connection">
    <xsd:attribute name="id" type="ST_DrawingElementId" use="required" />
    <xsd:attribute name="idx" type="xsd:unsignedInt" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_Path2DMoveTo">
    <xsd:sequence>
      <xsd:element name="pt" type="CT_AdjPoint2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Move end point</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Path2DLineTo">
    <xsd:sequence>
      <xsd:element name="pt" type="CT_AdjPoint2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Line end point</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Path2DArcTo">
    <xsd:attribute name="wR" type="ST_AdjCoordinate" use="required" />
    <xsd:attribute name="hR" type="ST_AdjCoordinate" use="required" />
    <xsd:attribute name="stAng" type="ST_AdjAngle" use="required">
      <xsd:annotation>
        <xsd:documentation>Start Angle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="swAng" type="ST_AdjAngle" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_Path2DQuadBezierTo">
    <xsd:sequence>
      <xsd:element name="pt" type="CT_AdjPoint2D" minOccurs="2" maxOccurs="2" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Path2DCubicBezierTo">
    <xsd:sequence>
      <xsd:element name="pt" type="CT_AdjPoint2D" minOccurs="3" maxOccurs="3">
        <xsd:annotation>
          <xsd:documentation>Control points and end point</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Path2DClose" />
  <xsd:simpleType name="ST_PathFillMode">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="none" />
      <xsd:enumeration value="norm" />
      <xsd:enumeration value="lighten" />
      <xsd:enumeration value="lightenLess" />
      <xsd:enumeration value="darken" />
      <xsd:enumeration value="darkenLess" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_Path2D">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="close" type="CT_Path2DClose" minOccurs="1" maxOccurs="1" />
      <xsd:element name="moveTo" type="CT_Path2DMoveTo" minOccurs="1" maxOccurs="1" />
      <xsd:element name="lnTo" type="CT_Path2DLineTo" minOccurs="1" maxOccurs="1" />
      <xsd:element name="arcTo" type="CT_Path2DArcTo" minOccurs="1" maxOccurs="1" />
      <xsd:element name="quadBezTo" type="CT_Path2DQuadBezierTo" minOccurs="1" maxOccurs="1" />
      <xsd:element name="cubicBezTo" type="CT_Path2DCubicBezierTo" minOccurs="1" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute name="w" type="ST_PositiveCoordinate" use="optional" default="0" />
    <xsd:attribute name="h" type="ST_PositiveCoordinate" use="optional" default="0" />
    <xsd:attribute name="fill" type="ST_PathFillMode" use="optional" default="norm" />
    <xsd:attribute name="stroke" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Stroke</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="extrusionOk" type="xsd:boolean" use="optional" default="true" />
  </xsd:complexType>
  <xsd:complexType name="CT_Path2DList">
    <xsd:sequence>
      <xsd:element name="path" type="CT_Path2D" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_PresetGeometry2D">
    <xsd:sequence>
      <xsd:element name="avLst" type="CT_GeomGuideList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Adjust Value List</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="prst" type="ST_ShapeType" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_PresetTextShape">
    <xsd:sequence>
      <xsd:element name="avLst" type="CT_GeomGuideList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Adjust Value List</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="prst" type="ST_TextShapeType" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_CustomGeometry2D">
    <xsd:sequence>
      <xsd:element name="avLst" type="CT_GeomGuideList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Adjust Value List</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gdLst" type="CT_GeomGuideList" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ahLst" type="CT_AdjustHandleList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Adjust Handle List</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cxnLst" type="CT_ConnectionSiteList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Connection site list</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rect" type="CT_GeomRect" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Rectange</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pathLst" type="CT_Path2DList" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="EG_Geometry">
    <xsd:choice>
      <xsd:element name="custGeom" type="CT_CustomGeometry2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Custom geometry</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="prstGeom" type="CT_PresetGeometry2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Preset geometry</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="EG_TextGeometry">
    <xsd:choice>
      <xsd:element name="custGeom" type="CT_CustomGeometry2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Custom geometry</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="prstTxWarp" type="CT_PresetTextShape" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Preset text wrap</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
</xsd:schema>