ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/sml-qsi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" xmlns:xb="ExcelBuild" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xs:include schemaLocation="sml-basictypes.xsd" />
  <xs:include schemaLocation="sml-styles.xsd" />
  <xs:include schemaLocation="sml-autofilter.xsd" />
  <xs:element name="queryTable" type="CT_QueryTable">
    <xs:annotation>
      <xs:documentation>Query Table</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CT_QueryTable">
    <xs:sequence>
      <xs:element name="queryTableRefresh" type="CT_QueryTableRefresh" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>QueryTable Refresh Information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" type="CT_FSB" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>QueryTable Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="headers" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>First Row Column Titles</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rowNumbers" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Row Numbers</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="disableRefresh" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Disable Refresh</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="backgroundRefresh" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Background Refresh</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="firstBackgroundRefresh" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>First Background Refresh</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="refreshOnLoad" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Refresh On Load</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="growShrinkType" type="ST_GrowShrinkType" use="optional" default="insertDelete">
      <xs:annotation>
        <xs:documentation>Grow Shrink Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fillFormulas" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Fill Adjacent Formulas</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="removeDataOnSave" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Remove Data On Save</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="disableEdit" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Disable Edit</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="preserveFormatting" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Preserve Formatting On Refresh</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="adjustColumnWidth" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Adjust Column Width On Refresh</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="intermediate" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Intermediate</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="connectionId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Connection Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="AG_AutoFormat">
      <xs:annotation>
        <xs:documentation>Auto Format Properties</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="CT_QueryTableRefresh">
    <xs:sequence>
      <xs:element name="queryTableFields" type="CT_QueryTableFields" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>QueryTable Fields</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="queryTableDeletedFields" type="CT_QueryTableDeletedFields" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Deleted Fields</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sortState" minOccurs="0" maxOccurs="1" type="CT_SortState">
        <xs:annotation>
          <xs:documentation>Sort State</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" minOccurs="0" maxOccurs="1" type="CT_FSB">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="preserveSortFilterLayout" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Preserve Sort &amp; Filter Layout</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fieldIdWrapped" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Next Field Id Wrapped</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="headersInLastRefresh" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Headers In Last Refresh</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minimumVersion" type="xs:unsignedByte" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Minimum Refresh Version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="nextId" type="xs:unsignedInt" use="optional" default="1">
      <xs:annotation>
        <xs:documentation>Next Field Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="unboundColumnsLeft" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Columns Left</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="unboundColumnsRight" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Columns Right</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_QueryTableDeletedFields">
    <xs:sequence>
      <xs:element name="deletedField" type="CT_DeletedField" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Deleted Field</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Deleted Fields Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_DeletedField">
    <xs:attribute name="name" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Deleted Fields Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_QueryTableFields">
    <xs:sequence>
      <xs:element name="queryTableField" type="CT_QueryTableField" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>QueryTable Field</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Column Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_QueryTableField">
    <xs:sequence minOccurs="0">
      <xs:element name="fsb" type="CT_FSB" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Field Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dataBound" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Data Bound Column</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rowNumbers" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Row Numbers</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fillFormulas" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Fill This Formula On Refresh</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="clipped" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Clipped Column</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tableColumnId" type="xs:unsignedInt" default="0">
      <xs:annotation>
        <xs:documentation>Table Column Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_GrowShrinkType">
    <xs:annotation>
      <xs:documentation>Grow Shrink Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="insertDelete">
        <xs:annotation>
          <xs:documentation>Insert &amp; Delete On Refresh</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="insertClear">
        <xs:annotation>
          <xs:documentation>Insert &amp; Clear On Refresh</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="overwriteClear">
        <xs:annotation>
          <xs:documentation>Overwrite &amp; Clear On Refresh</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>