ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/sml-supbook.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" xmlns:xb="ExcelBuild" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xs:include schemaLocation="sml-basictypes.xsd" />
  <xs:include schemaLocation="sml-sheet.xsd" />
  <xs:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" schemaLocation="shared-relationships.xsd" />
  <xs:element name="externalLink" type="CT_ExternalLink">
    <xs:annotation>
      <xs:documentation>External Reference</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CT_ExternalLink">
    <xs:choice>
      <xs:element name="externalBook" type="CT_ExternalBook" minOccurs="0" maxOccurs="1" />
      <xs:element name="ddeLink" type="CT_DdeLink" minOccurs="0" maxOccurs="1" />
      <xs:element name="oleLink" type="CT_OleLink" minOccurs="0" maxOccurs="1" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CT_ExternalBook">
    <xs:sequence>
      <xs:element name="sheetNames" type="CT_ExternalSheetNames" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Supporting Workbook Sheet Names</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="definedNames" type="CT_ExternalDefinedNames" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Named Links</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sheetDataSet" type="CT_ExternalSheetDataSet" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cached Worksheet Data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute ref="r:id" use="required" />
  </xs:complexType>
  <xs:complexType name="CT_ExternalSheetNames">
    <xs:sequence>
      <xs:element name="sheetName" minOccurs="1" maxOccurs="unbounded" type="CT_ExternalSheetName">
        <xs:annotation>
          <xs:documentation>Sheet Name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_ExternalSheetName">
    <xs:attribute name="val" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Sheet Name Value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_ExternalDefinedNames">
    <xs:sequence>
      <xs:element name="definedName" type="CT_ExternalDefinedName" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Defined Name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_ExternalDefinedName">
    <xs:attribute name="name" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Defined Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="refersTo" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Refers To</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sheetId" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_ExternalSheetDataSet">
    <xs:sequence>
      <xs:element name="sheetData" type="CT_ExternalSheetData" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Cached Worksheet Data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_ExternalSheetData">
    <xs:sequence>
      <xs:element name="row" type="CT_ExternalRow" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Row</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="sheetId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_ExternalRow">
    <xs:sequence>
      <xs:element name="cell" type="CT_ExternalCell" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Supporting Cell Data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="r" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Row</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_ExternalCell">
    <xs:sequence>
      <xs:element name="v" type="ST_Xstring" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="r" type="ST_CellRef" use="optional">
      <xs:annotation>
        <xs:documentation>Reference</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="t" type="ST_CellType" use="optional" default="n">
      <xs:annotation>
        <xs:documentation>Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="vm" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Value Metadata</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_DdeLink">
    <xs:sequence>
      <xs:element name="ddeItems" type="CT_DdeItems" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="ddeService" type="ST_Xstring" use="required" />
    <xs:attribute name="ddeTopic" type="ST_Xstring" use="required" />
  </xs:complexType>
  <xs:complexType name="CT_DdeItems">
    <xs:sequence>
      <xs:element name="ddeItem" type="CT_DdeItem" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>DDE Link</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_DdeItem">
    <xs:sequence>
      <xs:element name="values" type="CT_DdeValues" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>DDE Name Values</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="ST_Xstring" default="0">
      <xs:annotation>
        <xs:documentation>DDE Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ole" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>OLE</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="advise" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Advise</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="preferPic" type="xs:boolean" use="optional" default="false" />
  </xs:complexType>
  <xs:complexType name="CT_DdeValues">
    <xs:sequence>
      <xs:element name="value" minOccurs="1" maxOccurs="unbounded" type="CT_DdeValue">
        <xs:annotation>
          <xs:documentation>Value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="rows" type="xs:unsignedInt" use="optional" default="1">
      <xs:annotation>
        <xs:documentation>Rows</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cols" type="xs:unsignedInt" use="optional" default="1">
      <xs:annotation>
        <xs:documentation>Columns</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_DdeValue">
    <xs:sequence>
      <xs:element name="val" type="ST_Xstring" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>DDE Link Value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="t" type="ST_DdeValueType" use="optional" default="n">
      <xs:annotation>
        <xs:documentation>DDE Value Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_DdeValueType">
    <xs:annotation>
      <xs:documentation>DDE Value Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="nil">
        <xs:annotation>
          <xs:documentation>Nil</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="b">
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="n">
        <xs:annotation>
          <xs:documentation>Real Number</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="e">
        <xs:annotation>
          <xs:documentation>Error</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="str">
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_OleLink">
    <xs:sequence>
      <xs:element name="oleItems" type="CT_OleItems" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute ref="r:id" use="required" />
    <xs:attribute name="progId" type="ST_Xstring" use="required" />
  </xs:complexType>
  <xs:complexType name="CT_OleItems">
    <xs:sequence>
      <xs:element name="oleItem" type="CT_OleItem" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>OLE Link</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_OleItem">
    <xs:attribute name="name" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>OLE Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="icon" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Icon</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="advise" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Advise</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="preferPic" type="xs:boolean" use="optional" default="false" />
  </xs:complexType>
</xs:schema>