ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/sml-styles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" xmlns:xb="ExcelBuild" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xs:include schemaLocation="sml-basictypes.xsd" />
  <xs:element name="styleSheet" type="CT_Stylesheet">
    <xs:annotation>
      <xs:documentation>Style Sheet</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CT_Stylesheet">
    <xs:sequence>
      <xs:element name="numFmts" type="CT_NumFmts" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Number Formats</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fonts" type="CT_Fonts" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fonts</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fills" type="CT_Fills" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fills</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="borders" type="CT_Borders" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Borders</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cellStyleXfs" type="CT_CellStyleXfs" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Formatting Records</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cellXfs" type="CT_CellXfs" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cell Formats</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cellStyles" type="CT_CellStyles" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cell Styles</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dxfs" type="CT_Dxfs" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Formats</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tableStyles" type="CT_TableStyles" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Table Styles</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="colors" type="CT_Colors" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Colors</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" type="CT_FSB" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_CellAlignment">
    <xs:attribute name="horizontal" type="ST_HorizontalAlignment" use="optional">
      <xs:annotation>
        <xs:documentation>Horizontal Alignment</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="vertical" type="ST_VerticalAlignment" use="optional">
      <xs:annotation>
        <xs:documentation>Vertical Alignment</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="textRotation" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Text Rotation</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="wrapText" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Wrap Text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="indent" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Indent</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="relativeIndent" type="xs:int" use="optional" />
    <xs:attribute name="justifyLastLine" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Justify Last Line</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="shrinkToFit" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Shrink To Fit</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mergeCell" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Merged Cells</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="readingOrder" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Reading Order</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_BorderStyle">
    <xs:annotation>
      <xs:documentation>Border Line Styles</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>None</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thin">
        <xs:annotation>
          <xs:documentation>Thin Border</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="medium">
        <xs:annotation>
          <xs:documentation>Medium Border</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dashed">
        <xs:annotation>
          <xs:documentation>Dashed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dotted">
        <xs:annotation>
          <xs:documentation>Dotted</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thick">
        <xs:annotation>
          <xs:documentation>Thick Line Border</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="double">
        <xs:annotation>
          <xs:documentation>Double Line</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hair">
        <xs:annotation>
          <xs:documentation>Hairline Border</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mediumDashed">
        <xs:annotation>
          <xs:documentation>Medium Dashed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dashDot">
        <xs:annotation>
          <xs:documentation>Dash Dot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mediumDashDot">
        <xs:annotation>
          <xs:documentation>Medium Dash Dot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dashDotDot">
        <xs:annotation>
          <xs:documentation>Dash Dot Dot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mediumDashDotDot">
        <xs:annotation>
          <xs:documentation>Medium Dash Dot Dot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="slantDashDot">
        <xs:annotation>
          <xs:documentation>Slant Dash Dot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_Borders">
    <xs:sequence>
      <xs:element name="border" type="CT_Border" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Border</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Border Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Border">
    <xs:sequence>
      <xs:element name="left" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Left Border</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="right" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Right Border</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="top" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Top Border</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bottom" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Bottom Border</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="diagonal" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Diagonal</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vertical" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Vertical Inner Border</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="horizontal" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Horizontal Inner Borders</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="diagonalUp" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Diagonal Up</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="diagonalDown" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Diagonal Down</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_BorderPr">
    <xs:sequence>
      <xs:element name="color" type="CT_Color" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Color</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="style" type="ST_BorderStyle" use="optional" default="none">
      <xs:annotation>
        <xs:documentation>Line Style</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_CellProtection">
    <xs:attribute name="locked" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Cell Locked</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hidden" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Hidden Cell</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Fonts">
    <xs:sequence>
      <xs:element name="font" type="CT_Font" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Font</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Font Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Fills">
    <xs:sequence>
      <xs:element name="fill" type="CT_Fill" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Fill</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Fill Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Fill">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element name="patternFill" type="CT_PatternFill" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Pattern</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gradientFill" type="CT_GradientFill" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Gradient</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CT_PatternFill">
    <xs:sequence>
      <xs:element name="fgColor" type="CT_Color" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Foreground Color</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bgColor" type="CT_Color" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Background Color</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="patternType" type="ST_PatternType" use="optional">
      <xs:annotation>
        <xs:documentation>Pattern Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Color">
    <xs:attribute name="auto" type="xs:boolean" use="optional" />
    <xs:attribute name="indexed" type="xs:unsignedInt" use="optional" />
    <xs:attribute name="rgb" type="ST_UnsignedIntHex" use="optional" />
    <xs:attribute name="theme" type="xs:unsignedInt" use="optional" />
    <xs:attribute name="tint" type="xs:double" use="optional" default="0.0">
      <xs:annotation>
        <xs:documentation>Tint</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_PatternType">
    <xs:annotation>
      <xs:documentation>Pattern Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>Null</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="solid">
        <xs:annotation>
          <xs:documentation>Solid</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mediumGray">
        <xs:annotation>
          <xs:documentation>Medium Gray</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="darkGray">
        <xs:annotation>
          <xs:documentation>Dary Gray</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lightGray">
        <xs:annotation>
          <xs:documentation>Light Gray</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="darkHorizontal">
        <xs:annotation>
          <xs:documentation>Dark Horizontal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="darkVertical">
        <xs:annotation>
          <xs:documentation>Dark Vertical</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="darkDown">
        <xs:annotation>
          <xs:documentation>Dark Down</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="darkUp">
        <xs:annotation>
          <xs:documentation>Dark Up</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="darkGrid">
        <xs:annotation>
          <xs:documentation>Dark Grid</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="darkTrellis">
        <xs:annotation>
          <xs:documentation>Dark Trellis</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lightHorizontal">
        <xs:annotation>
          <xs:documentation>Light Horizontal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lightVertical">
        <xs:annotation>
          <xs:documentation>Light Vertical</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lightDown">
        <xs:annotation>
          <xs:documentation>Light Down</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lightUp">
        <xs:annotation>
          <xs:documentation>Light Up</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lightGrid">
        <xs:annotation>
          <xs:documentation>Light Grid</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lightTrellis">
        <xs:annotation>
          <xs:documentation>Light Trellis</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gray125">
        <xs:annotation>
          <xs:documentation>Gray 0.125</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gray0625">
        <xs:annotation>
          <xs:documentation>Gray 0.0625</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_GradientFill">
    <xs:sequence>
      <xs:element name="stop" type="CT_GradientStop" minOccurs="2" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Gradient Stop</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="ST_GradientType" use="optional" default="linear">
      <xs:annotation>
        <xs:documentation>Gradient Fill Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="degree" type="xs:double" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Linear Gradient Degree</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="left" type="xs:double" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Left Convergence</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="right" type="xs:double" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Right Convergence</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="top" type="xs:double" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Top Gradient Convergence</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="bottom" type="xs:double" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Bottom Convergence</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_GradientStop">
    <xs:sequence>
      <xs:element name="color" type="CT_Color" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Color</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="position" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>Gradient Stop Position</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_GradientType">
    <xs:annotation>
      <xs:documentation>Gradient Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="linear">
        <xs:annotation>
          <xs:documentation>Linear Gradient</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="path">
        <xs:annotation>
          <xs:documentation>Path</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_HorizontalAlignment">
    <xs:annotation>
      <xs:documentation>Horizontal Alignment Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="general">
        <xs:annotation>
          <xs:documentation>General Horizontal Alignment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="left">
        <xs:annotation>
          <xs:documentation>Left Horizontal Alignment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="center">
        <xs:annotation>
          <xs:documentation>Centered Horizontal Alignment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="right">
        <xs:annotation>
          <xs:documentation>Right Horizontal Alignment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fill">
        <xs:annotation>
          <xs:documentation>Fill</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="justify">
        <xs:annotation>
          <xs:documentation>Justify</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="centerContinuous">
        <xs:annotation>
          <xs:documentation>Center Continuous Horizontal Alignment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="distributed">
        <xs:annotation>
          <xs:documentation>Distributed Horizontal Alignment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_VerticalAlignment">
    <xs:annotation>
      <xs:documentation>Vertical Alignment Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="top">
        <xs:annotation>
          <xs:documentation>Align Top</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="center">
        <xs:annotation>
          <xs:documentation>Centered Vertical Alignment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bottom">
        <xs:annotation>
          <xs:documentation>Aligned To Bottom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="justify">
        <xs:annotation>
          <xs:documentation>Justified Vertically</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="distributed">
        <xs:annotation>
          <xs:documentation>Distributed Vertical Alignment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_NumFmts">
    <xs:sequence>
      <xs:element name="numFmt" type="CT_NumFmt" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Number Formats</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Number Format Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_NumFmt">
    <xs:attribute name="numFmtId" type="ST_NumFmtId" use="required">
      <xs:annotation>
        <xs:documentation>Number Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="formatCode" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Number Format Code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_CellStyleXfs">
    <xs:sequence>
      <xs:element name="xf" type="CT_Xf" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Formatting Elements</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Style Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_CellXfs">
    <xs:sequence>
      <xs:element name="xf" type="CT_Xf" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Format</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Format Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Xf">
    <xs:sequence>
      <xs:element name="alignment" type="CT_CellAlignment" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Alignment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="protection" type="CT_CellProtection" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Protection</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" type="CT_FSB" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="numFmtId" type="ST_NumFmtId" use="optional">
      <xs:annotation>
        <xs:documentation>Number Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fontId" type="ST_FontId" use="optional">
      <xs:annotation>
        <xs:documentation>Font Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fillId" type="ST_FillId" use="optional">
      <xs:annotation>
        <xs:documentation>Fill Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="borderId" type="ST_BorderId" use="optional">
      <xs:annotation>
        <xs:documentation>Border Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="xfId" type="ST_CellStyleXfId" use="optional">
      <xs:annotation>
        <xs:documentation>Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="quotePrefix" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Quote Prefix</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pivotButton" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="applyNumberFormat" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Apply Number Format</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="applyFont" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Apply Font</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="applyFill" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Apply Fill</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="applyBorder" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Apply Border</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="applyAlignment" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Apply Alignment</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="applyProtection" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Apply Protection</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_CellStyles">
    <xs:sequence>
      <xs:element name="cellStyle" type="CT_CellStyle" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Cell Style</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Style Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_CellStyle">
    <xs:sequence>
      <xs:element name="fsb" type="CT_FSB" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>User Defined Cell Style</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="xfId" type="ST_CellStyleXfId" use="required">
      <xs:annotation>
        <xs:documentation>Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="builtinId" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Built-In Style Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="iLevel" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Outline Style</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hidden" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Hidden Style</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Dxfs">
    <xs:sequence>
      <xs:element name="dxf" type="CT_Dxf" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Formatting</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Format Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Dxf">
    <xs:sequence>
      <xs:element name="font" type="CT_Font" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Font Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numFmt" type="CT_NumFmt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Number Format</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fill" type="CT_Fill" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fill</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="alignment" type="CT_CellAlignment" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Alignment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="border" type="CT_Border" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Border Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="protection" type="CT_CellProtection" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Protection Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" type="CT_FSB" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ST_NumFmtId">
    <xs:annotation>
      <xs:documentation>Number Format Id</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt" />
  </xs:simpleType>
  <xs:simpleType name="ST_FontId">
    <xs:annotation>
      <xs:documentation>Font Id</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt" />
  </xs:simpleType>
  <xs:simpleType name="ST_FillId">
    <xs:annotation>
      <xs:documentation>Fill Id</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt" />
  </xs:simpleType>
  <xs:simpleType name="ST_BorderId">
    <xs:annotation>
      <xs:documentation>Border Id</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt" />
  </xs:simpleType>
  <xs:simpleType name="ST_CellStyleXfId">
    <xs:annotation>
      <xs:documentation>Cell Style Format Id</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt" />
  </xs:simpleType>
  <xs:simpleType name="ST_DxfId">
    <xs:annotation>
      <xs:documentation>Format Id</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt" />
  </xs:simpleType>
  <xs:complexType name="CT_Colors">
    <xs:sequence>
      <xs:element name="indexedColors" type="CT_IndexedColors" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Color Indexes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mruColors" type="CT_MRUColors" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>MRU Colors</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_IndexedColors">
    <xs:sequence>
      <xs:element name="rgbColor" type="CT_RgbColor" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>RGB Color</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_MRUColors">
    <xs:sequence>
      <xs:element name="color" type="CT_Color" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Color</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_RgbColor">
    <xs:attribute name="rgb" type="ST_UnsignedIntHex" use="optional" />
  </xs:complexType>
  <xs:complexType name="CT_TableStyles">
    <xs:sequence>
      <xs:element name="tableStyle" type="CT_TableStyle" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Table Styles</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Table Style Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="defaultTableStyle" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Default Table Style</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="defaultPivotStyle" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Default Pivot Style</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_TableStyle">
    <xs:sequence>
      <xs:element name="tableStyleElement" type="CT_TableStyleElement" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Table Style</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Table Style Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="builtin" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Built-In Style</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pivot" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Pivot Style</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="table" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Table</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Table Style Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_TableStyleElement">
    <xs:attribute name="type" type="ST_TableStyleType" use="required">
      <xs:annotation>
        <xs:documentation>Table Style Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="size" type="xs:unsignedInt" use="optional" default="1">
      <xs:annotation>
        <xs:documentation>Band Size</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dxfId" type="ST_DxfId" use="required">
      <xs:annotation>
        <xs:documentation>Formatting Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_TableStyleType">
    <xs:annotation>
      <xs:documentation>Table Style Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="wholeTable">
        <xs:annotation>
          <xs:documentation>Whole Table Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="headerRow">
        <xs:annotation>
          <xs:documentation>Header Row Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="totalRow">
        <xs:annotation>
          <xs:documentation>Total Row Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="firstColumn">
        <xs:annotation>
          <xs:documentation>First Column Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lastColumn">
        <xs:annotation>
          <xs:documentation>Last Column Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="firstRowStripe">
        <xs:annotation>
          <xs:documentation>First Row Stripe Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="secondRowStripe">
        <xs:annotation>
          <xs:documentation>Second Row Stripe Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="firstColumnStripe">
        <xs:annotation>
          <xs:documentation>First Column Stripe Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="secondColumnStripe">
        <xs:annotation>
          <xs:documentation>Second Column Stipe Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="firstHeaderCell">
        <xs:annotation>
          <xs:documentation>First Header Row Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lastHeaderCell">
        <xs:annotation>
          <xs:documentation>Last Header Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="firstTotalCell">
        <xs:annotation>
          <xs:documentation>First Total Row Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lastTotalCell">
        <xs:annotation>
          <xs:documentation>Last Total Row Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="firstSubtotalColumn">
        <xs:annotation>
          <xs:documentation>First Subtotal Column Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="secondSubtotalColumn">
        <xs:annotation>
          <xs:documentation>Second Subtotal Column Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thirdSubtotalColumn">
        <xs:annotation>
          <xs:documentation>Third Subtotal Column Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="firstSubtotalRow">
        <xs:annotation>
          <xs:documentation>First Subtotal Row Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="secondSubtotalRow">
        <xs:annotation>
          <xs:documentation>Second Subtotal Row Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thirdSubtotalRow">
        <xs:annotation>
          <xs:documentation>Third Subtotal Row Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="blankRow">
        <xs:annotation>
          <xs:documentation>Blank Row Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="firstColumnSubheading">
        <xs:annotation>
          <xs:documentation>First Column Subheading Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="secondColumnSubheading">
        <xs:annotation>
          <xs:documentation>Second Column Subheading Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thirdColumnSubheading">
        <xs:annotation>
          <xs:documentation>Third Column Subheading Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="firstRowSubheading">
        <xs:annotation>
          <xs:documentation>First Row Subheading Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="secondRowSubheading">
        <xs:annotation>
          <xs:documentation>Second Row Subheading Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thirdRowSubheading">
        <xs:annotation>
          <xs:documentation>Third Row Subheading Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pageFieldLabels">
        <xs:annotation>
          <xs:documentation>Page Field Labels Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pageFieldValues">
        <xs:annotation>
          <xs:documentation>Page Field Values Style</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_BooleanProperty">
    <xs:attribute name="val" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_FontSize">
    <xs:attribute name="val" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>Value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_IntProperty">
    <xs:attribute name="val" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_FontName">
    <xs:attribute name="val" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>String Value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_VerticalAlignFontProperty">
    <xs:attribute name="val" type="ST_VerticalAlignRun" use="required">
      <xs:annotation>
        <xs:documentation>Value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_VerticalAlignRun">
    <xs:annotation>
      <xs:documentation>Vertical Alignment Run Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="baseline">
        <xs:annotation>
          <xs:documentation>Baseline</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="superscript">
        <xs:annotation>
          <xs:documentation>Superscript</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="subscript">
        <xs:annotation>
          <xs:documentation>Subscript</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_FontScheme">
    <xs:attribute name="val" type="ST_FontScheme" use="required">
      <xs:annotation>
        <xs:documentation>Font Scheme</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_FontScheme">
    <xs:annotation>
      <xs:documentation>Font scheme Styles</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>None</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="major">
        <xs:annotation>
          <xs:documentation>Major Font</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="minor">
        <xs:annotation>
          <xs:documentation>Minor Font</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_UnderlineProperty">
    <xs:attribute name="val" type="ST_UnderlineValues" use="optional" default="single">
      <xs:annotation>
        <xs:documentation>Underline Value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_UnderlineValues">
    <xs:annotation>
      <xs:documentation>Underline Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="single">
        <xs:annotation>
          <xs:documentation>Single Underline</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="double">
        <xs:annotation>
          <xs:documentation>Double Underline</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="singleAccounting">
        <xs:annotation>
          <xs:documentation>Accounting Single Underline</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="doubleAccounting">
        <xs:annotation>
          <xs:documentation>Accounting Double Underline</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>None</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_Font">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="name" type="CT_FontName" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Font Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="charset" type="CT_IntProperty" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Character Set</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="family" type="CT_IntProperty" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Font Family</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="b" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Bold</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="i" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Italic</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="strike" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Strike Through</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="outline" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Outline</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shadow" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Shadow</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="condense" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Condense</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extend" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Extend</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="color" type="CT_Color" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Text Color</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sz" type="CT_FontSize" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Font Size</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="u" type="CT_UnderlineProperty" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Underline</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vertAlign" type="CT_VerticalAlignFontProperty" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Text Vertical Alignment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scheme" type="CT_FontScheme" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Scheme</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:attributeGroup name="AG_AutoFormat">
    <xs:annotation>
      <xs:documentation>Auto Format Properties</xs:documentation>
    </xs:annotation>
    <xs:attribute name="autoFormatId" type="xs:unsignedInt">
      <xs:annotation>
        <xs:documentation>Auto Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="applyNumberFormats" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Apply Number Formats</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="applyBorderFormats" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Apply Border Formats</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="applyFontFormats" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Apply Font Formats</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="applyPatternFormats" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Apply Pattern Formats</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="applyAlignmentFormats" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Apply Alignment Formats</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="applyWidthHeightFormats" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Apply Width / Height Formats</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>