ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/sml-table.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" xmlns:xb="ExcelBuild" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xs:include schemaLocation="sml-basictypes.xsd" />
  <xs:include schemaLocation="sml-styles.xsd" />
  <xs:include schemaLocation="sml-autofilter.xsd" />
  <xs:include schemaLocation="sml-sheet.xsd" />
  <xs:element name="table" type="CT_Table">
    <xs:annotation>
      <xs:documentation>Table</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CT_Table">
    <xs:sequence>
      <xs:element name="autoFilter" type="CT_AutoFilter" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Table AutoFilter</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sortState" type="CT_SortState" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sort State</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tableColumns" type="CT_TableColumns" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Table Columns</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tableStyleInfo" type="CT_TableStyleInfo" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Table Style</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" type="CT_FSB" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Table Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="displayName" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Table Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comment" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Table Comment</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ref" type="ST_Ref" use="required">
      <xs:annotation>
        <xs:documentation>Reference</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tableType" type="ST_TableType" use="optional" default="worksheet">
      <xs:annotation>
        <xs:documentation>Table Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="headerRowCount" type="xs:unsignedInt" use="optional" default="1">
      <xs:annotation>
        <xs:documentation>Header Row Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="insertRow" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Insert Row Showing</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="insertRowShift" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Insert Row Shift</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="totalsRowCount" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Totals Row Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="totalsRowShown" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Totals Row Shown</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="published" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Published</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="headerRowDxfId" type="ST_DxfId" use="optional">
      <xs:annotation>
        <xs:documentation>Header Row Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dataDxfId" type="ST_DxfId" use="optional">
      <xs:annotation>
        <xs:documentation>Data Area Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="totalsRowDxfId" type="ST_DxfId" use="optional">
      <xs:annotation>
        <xs:documentation>Totals Row Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="headerRowBorderDxfId" type="ST_DxfId" use="optional">
      <xs:annotation>
        <xs:documentation>Header Row Border Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tableBorderDxfId" type="ST_DxfId" use="optional">
      <xs:annotation>
        <xs:documentation>Table Border Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="totalsRowBorderDxfId" type="ST_DxfId" use="optional">
      <xs:annotation>
        <xs:documentation>Totals Row Border Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="headerRowCellStyle" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Header Row Style</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dataCellStyle" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Data Style Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="totalsRowCellStyle" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Totals Row Style</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="connectionId" type="xs:unsignedInt" use="optional" />
  </xs:complexType>
  <xs:simpleType name="ST_TableType">
    <xs:annotation>
      <xs:documentation>Table Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="worksheet">
        <xs:annotation>
          <xs:documentation>Worksheet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="xml">
        <xs:annotation>
          <xs:documentation>XML</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="queryTable">
        <xs:annotation>
          <xs:documentation>Query Table</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_TableStyleInfo">
    <xs:attribute name="name" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Style Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showFirstColumn" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Show First Column</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showLastColumn" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Show Last Column</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showRowStripes" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Show Row Stripes</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showColumnStripes" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Show Column Stripes</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_TableColumns">
    <xs:sequence>
      <xs:element name="tableColumn" type="CT_TableColumn" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Table Column</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Column Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_TableColumn">
    <xs:sequence>
      <xs:element name="calculatedColumnFormula" type="CT_TableFormula" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Calculated Column Formula</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalsRowFormula" type="CT_TableFormula" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Totals Row Formula</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xmlColumnPr" type="CT_XmlColumnPr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>XML Column Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" type="CT_FSB" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Table Field Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uniqueName" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Unique Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Table Field Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="totalsRowFunction" type="ST_TotalsRowFunction" use="optional" default="none">
      <xs:annotation>
        <xs:documentation>Totals Row Function</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="totalsRowLabel" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Totals Row Label</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="queryTableFieldId" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Query Table Field Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="headerRowDxfId" type="ST_DxfId" use="optional">
      <xs:annotation>
        <xs:documentation>Header Row Cell Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dataDxfId" type="ST_DxfId" use="optional">
      <xs:annotation>
        <xs:documentation>Data &amp; Insert Row Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="totalsRowDxfId" type="ST_DxfId" use="optional">
      <xs:annotation>
        <xs:documentation>Totals Row Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="headerRowCellStyle" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Header Row Cell Style</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dataCellStyle" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Data Area Style Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="totalsRowCellStyle" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Totals Row Style Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_TableFormula">
    <xs:simpleContent>
      <xs:extension base="ST_Formula">
        <xs:attribute name="array" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>Array</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="d" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation>Defer Formula Deserialization</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ST_TotalsRowFunction">
    <xs:annotation>
      <xs:documentation>Totals Row Function Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>None</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sum">
        <xs:annotation>
          <xs:documentation>Sum</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="min">
        <xs:annotation>
          <xs:documentation>Minimum</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="max">
        <xs:annotation>
          <xs:documentation>Maximum</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="average">
        <xs:annotation>
          <xs:documentation>Average</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="count">
        <xs:annotation>
          <xs:documentation>Non Empty Cell Count</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="countNums">
        <xs:annotation>
          <xs:documentation>Count Numbers</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="stdDev">
        <xs:annotation>
          <xs:documentation>StdDev</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="var">
        <xs:annotation>
          <xs:documentation>Var</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="custom">
        <xs:annotation>
          <xs:documentation>Custom Formula</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_XmlColumnPr">
    <xs:sequence>
      <xs:element name="fsb" type="CT_FSB" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="mapId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>XML Map Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="xpath" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>XPath</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="denormalized" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Denormalized</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="xmlDataType" type="ST_XmlDataType" use="required">
      <xs:annotation>
        <xs:documentation>XML Data Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_XmlDataType">
    <xs:annotation>
      <xs:documentation>XML Data Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="string">
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="normalizedString">
        <xs:annotation>
          <xs:documentation>Normalized String</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="token">
        <xs:annotation>
          <xs:documentation>Token</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="byte">
        <xs:annotation>
          <xs:documentation>Byte</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unsignedByte">
        <xs:annotation>
          <xs:documentation>Unsigned Byte</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="base64Binary">
        <xs:annotation>
          <xs:documentation>Base 64 Encoded Binary</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hexBinary">
        <xs:annotation>
          <xs:documentation>Hex Binary</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="integer">
        <xs:annotation>
          <xs:documentation>Integer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="positiveInteger">
        <xs:annotation>
          <xs:documentation>Positive Integer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="negativeInteger">
        <xs:annotation>
          <xs:documentation>Negative Integer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nonPositiveInteger">
        <xs:annotation>
          <xs:documentation>Non Positive Integer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nonNegativeInteger">
        <xs:annotation>
          <xs:documentation>Non Negative Integer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="int">
        <xs:annotation>
          <xs:documentation>Integer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unsignedInt">
        <xs:annotation>
          <xs:documentation>Unsigned Integer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="long">
        <xs:annotation>
          <xs:documentation>Long</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unsignedLong">
        <xs:annotation>
          <xs:documentation>Unsigned Long</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="short">
        <xs:annotation>
          <xs:documentation>Short</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unsignedShort">
        <xs:annotation>
          <xs:documentation>Unsigned Short</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="decimal">
        <xs:annotation>
          <xs:documentation>Decimal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="float">
        <xs:annotation>
          <xs:documentation>Float</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="double">
        <xs:annotation>
          <xs:documentation>Double</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="boolean">
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="time">
        <xs:annotation>
          <xs:documentation>Time</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dateTime">
        <xs:annotation>
          <xs:documentation>Date Time</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="duration">
        <xs:annotation>
          <xs:documentation>Duration</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="date">
        <xs:annotation>
          <xs:documentation>Date</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gMonth">
        <xs:annotation>
          <xs:documentation>gMonth</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gYear">
        <xs:annotation>
          <xs:documentation>gYear</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gYearMonth">
        <xs:annotation>
          <xs:documentation>gYearMonth</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gDay">
        <xs:annotation>
          <xs:documentation>gDay</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gMonthDay">
        <xs:annotation>
          <xs:documentation>gMonthDays</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Name">
        <xs:annotation>
          <xs:documentation>Name</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="QName">
        <xs:annotation>
          <xs:documentation>Qname</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NCName">
        <xs:annotation>
          <xs:documentation>NCName</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="anyURI">
        <xs:annotation>
          <xs:documentation>Any URI</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="language">
        <xs:annotation>
          <xs:documentation>Language</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ID">
        <xs:annotation>
          <xs:documentation>ID</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IDREF">
        <xs:annotation>
          <xs:documentation>IDREF</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IDREFS" />
      <xs:enumeration value="ENTITY">
        <xs:annotation>
          <xs:documentation>ENTITY</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ENTITIES">
        <xs:annotation>
          <xs:documentation>ENTITIES</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NOTATION">
        <xs:annotation>
          <xs:documentation>Notation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NMTOKEN">
        <xs:annotation>
          <xs:documentation>NMTOKEN</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NMTOKENS">
        <xs:annotation>
          <xs:documentation>NMTOKENS</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="anyType">
        <xs:annotation>
          <xs:documentation>Any Type</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>