ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/sml-workbook.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xb="ExcelBuild" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xs:include schemaLocation="sml-basictypes.xsd" />
  <xs:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" schemaLocation="shared-relationships.xsd" />
  <xs:element name="workbook" type="CT_Workbook">
    <xs:annotation>
      <xs:documentation>Workbook</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CT_Workbook">
    <xs:sequence>
      <xs:element name="fileVersion" type="CT_FileVersion" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>File Version</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fileSharing" type="CT_FileSharing" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>File Sharing</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="workbookPr" type="CT_WorkbookPr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Workbook Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookViews" type="CT_BookViews" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Workbook Views</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sheets" type="CT_Sheets" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sheets</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="functionGroups" type="CT_FunctionGroups" minOccurs="0" maxOccurs="1" />
      <xs:element name="functionPrototypes" type="CT_FunctionPrototypes" minOccurs="0" maxOccurs="1" />
      <xs:element name="externalReferences" type="CT_ExternalReferences" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>External References</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="definedNames" type="CT_DefinedNames" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Defined Names</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="calcPr" type="CT_CalcPr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Calculation Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="oleSize" type="CT_OleSize" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>OLE Size</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="workbookProtection" type="CT_WorkbookProtection" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Workbook Protection</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="customWorkbookViews" type="CT_CustomWorkbookViews" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Custom Workbook Views</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pivotCaches" type="CT_PivotCaches" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>PivotCaches</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="smartTagPr" type="CT_SmartTagPr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Smart Tag Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="smartTagTypes" type="CT_SmartTagTypes" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Smart Tag Types</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="webPublishing" type="CT_WebPublishing" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Web Publishing Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fileRecoveryPr" type="CT_FileRecoveryPr" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>File Recovery Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" type="CT_FSB" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Book Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_FileVersion">
    <xs:attribute name="lastEdited" type="xs:unsignedByte" use="optional">
      <xs:annotation>
        <xs:documentation>Last Edited Version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="lowestEdited" type="xs:unsignedByte" use="optional">
      <xs:annotation>
        <xs:documentation>Lowest Edited Version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rupBuild" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Build Version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="typelibIID" type="ST_Guid" use="optional">
      <xs:annotation>
        <xs:documentation>Type Library Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_BookViews">
    <xs:sequence>
      <xs:element name="workbookView" type="CT_BookView" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Workbook View</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_BookView">
    <xs:attribute name="visibility" type="ST_Visibility" use="optional" default="visible">
      <xs:annotation>
        <xs:documentation>Visibility</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minimized" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Minimized</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showHorizontalScroll" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Show Horizontal Scroll</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showVerticalScroll" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Show Vertical Scroll</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showSheetTabs" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Show Sheet Tabs</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="xWindow" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Upper Left Corner (X Coordinate)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="yWindow" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Upper Left Corner (Y Coordinate)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="windowWidth" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Window Width</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="windowHeight" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Window Height</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tabRatio" type="xs:unsignedInt" use="optional" default="600">
      <xs:annotation>
        <xs:documentation>Sheet Tab Ratio</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="firstSheet" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>First Sheet</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="activeTab" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Active Sheet Index</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="autoFilterDateGrouping" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>AutoFilter Date Grouping</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_Visibility">
    <xs:annotation>
      <xs:documentation>Visibility Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="visible">
        <xs:annotation>
          <xs:documentation>Visible</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hidden">
        <xs:annotation>
          <xs:documentation>Hidden</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="veryHidden">
        <xs:annotation>
          <xs:documentation>Very Hidden</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_CustomWorkbookViews">
    <xs:sequence>
      <xs:element name="customWorkbookView" minOccurs="1" maxOccurs="unbounded" type="CT_CustomWorkbookView">
        <xs:annotation>
          <xs:documentation>Custom Workbook View</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_CustomWorkbookView">
    <xs:sequence>
      <xs:element name="fsb" minOccurs="0" type="CT_FSB" />
    </xs:sequence>
    <xs:attribute name="name" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Custom View Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="guid" type="ST_Guid" use="required">
      <xs:annotation>
        <xs:documentation>Custom View GUID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="autoUpdate" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Auto Update</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mergeInterval" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Merge Interval</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="changesSavedWin" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Changes Saved Win</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onlySync" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Only Synch</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="personalView" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Personal View</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="includePrintSettings" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Include Print Settings</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="includeHiddenRowCol" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Include Hidden Rows &amp; Columns</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maximized" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Maximized</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minimized" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Minimized</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showHorizontalScroll" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Show Horizontal Scroll</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showVerticalScroll" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Show Vertical Scroll</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showSheetTabs" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Show Sheet Tabs</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="xWindow" type="xs:int" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Top Left Corner (X Coordinate)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="yWindow" type="xs:int" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Top Left Corner (Y Coordinate)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="windowWidth" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Window Width</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="windowHeight" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Window Height</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tabRatio" type="xs:unsignedInt" use="optional" default="600">
      <xs:annotation>
        <xs:documentation>Sheet Tab Ratio</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="activeSheetId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Active Sheet in Book View</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showFormulaBar" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Show Formula Bar</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showStatusbar" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Show Status Bar</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showComments" type="ST_Comments" use="optional" default="commIndicator">
      <xs:annotation>
        <xs:documentation>Show Comments</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showObjects" type="ST_Objects" use="optional" default="all">
      <xs:annotation>
        <xs:documentation>Show Objects</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_Comments">
    <xs:annotation>
      <xs:documentation>Comment Display Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="commNone">
        <xs:annotation>
          <xs:documentation>No Comments</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="commIndicator">
        <xs:annotation>
          <xs:documentation>Show Comment Indicator</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="commIndAndComment">
        <xs:annotation>
          <xs:documentation>Show Comment &amp; Indicator</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_Objects">
    <xs:annotation>
      <xs:documentation>Object Display Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="all">
        <xs:annotation>
          <xs:documentation>All</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="placeholders">
        <xs:annotation>
          <xs:documentation>Show Placeholders</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>None</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_Sheets">
    <xs:sequence>
      <xs:element name="sheet" type="CT_Sheet" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Sheet Information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_Sheet">
    <xs:attribute name="name" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sheetId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Tab Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="ST_SheetType" use="optional" default="worksheet">
      <xs:annotation>
        <xs:documentation>Sheet Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="state" type="ST_SheetState" use="optional" default="visible">
      <xs:annotation>
        <xs:documentation>Visible State</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="r:id" use="required" />
  </xs:complexType>
  <xs:simpleType name="ST_SheetType">
    <xs:annotation>
      <xs:documentation>Sheet Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="worksheet">
        <xs:annotation>
          <xs:documentation>Worksheet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="macrosheet">
        <xs:annotation>
          <xs:documentation>Macro Sheet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="chartsheet">
        <xs:annotation>
          <xs:documentation>Chart Sheet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dialogsheet">
        <xs:annotation>
          <xs:documentation>Dialog Sheet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="basicsheet">
        <xs:annotation>
          <xs:documentation>Basic Module Sheet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_SheetState">
    <xs:annotation>
      <xs:documentation>Sheet Visibility Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="visible">
        <xs:annotation>
          <xs:documentation>Visible</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hidden">
        <xs:annotation>
          <xs:documentation>Hidden</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="veryHidden">
        <xs:annotation>
          <xs:documentation>Very Hidden</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_WorkbookPr">
    <xs:attribute name="date1904" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Date 1904</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showObjects" type="ST_Objects" use="optional" default="all">
      <xs:annotation>
        <xs:documentation>Show Objects</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="audit" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Audit</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showBorderUnselectedTables" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Show Border Unselected Table</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="filterPrivacy" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Filter Privacy</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="promptedSolutions" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Prompted Solutions</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showInkAnnotation" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Show Ink Annotations</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="backupFile" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Create Backup File</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="saveExternalLinkValues" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Save External Link Values</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="updateLinks" type="ST_UpdateLinks" use="optional" default="userSet">
      <xs:annotation>
        <xs:documentation>Update Links Behavior</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="vbName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>VB Name (Code Name)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hidePivotFieldList" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Hide Pivot Field List</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showPivotChartFilter" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Show Pivot Chart Filter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="allowRefreshQuery" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Allow Refresh Query</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="publishItems" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Publish Items</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="checkCompatibility" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Check Compatibility On Save</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="autoCompressPictures" type="xs:boolean" use="optional" default="true" />
    <xs:attribute name="defaultThemeVersion" type="xs:unsignedInt" use="optional" />
  </xs:complexType>
  <xs:simpleType name="ST_UpdateLinks">
    <xs:annotation>
      <xs:documentation>Update Links Behavior Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="userSet">
        <xs:annotation>
          <xs:documentation>User Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="never">
        <xs:annotation>
          <xs:documentation>Never Update Links</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="always">
        <xs:annotation>
          <xs:documentation>Always Update Links</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_SmartTagPr">
    <xs:attribute name="embed" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Embed SmartTags</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="show" type="ST_SmartTagShow" use="optional" default="all">
      <xs:annotation>
        <xs:documentation>Show Smart Tags</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_SmartTagShow">
    <xs:annotation>
      <xs:documentation>Smart Tag Display Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="all">
        <xs:annotation>
          <xs:documentation>All</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>None</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="noIndicator">
        <xs:annotation>
          <xs:documentation>No Smart Tag Indicator</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_SmartTagTypes">
    <xs:sequence>
      <xs:element name="smartTagType" type="CT_SmartTagType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Smart Tag Type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_SmartTagType">
    <xs:attribute name="namespaceUri" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>SmartTag Namespace URI</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="url" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Smart Tag URL</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_FileRecoveryPr">
    <xs:attribute name="autoRecover" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Auto Recover</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="crashSave" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Crash Save</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minimalSave" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Minimal Save</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dataExtractLoad" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Data Extract Load</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="repairLoad" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Repair Load</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_CalcPr">
    <xs:attribute name="calcId" type="xs:unsignedInt">
      <xs:annotation>
        <xs:documentation>Calculation Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="calcMode" type="ST_CalcMode" use="optional" default="auto">
      <xs:annotation>
        <xs:documentation>Calculation Mode</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fullCalcOnLoad" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Full Calculation On Load</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="refMode" type="ST_RefMode" use="optional" default="A1">
      <xs:annotation>
        <xs:documentation>Reference Mode</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="iterate" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Calculation Iteration</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="iterateCount" type="xs:unsignedInt" use="optional" default="100">
      <xs:annotation>
        <xs:documentation>Iteration Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="iterateDelta" type="xs:double" use="optional" default="0.001">
      <xs:annotation>
        <xs:documentation>Iterative Calculation Delta</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fullPrecision" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Full Precision Calculation</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="calcCompleted" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Calc Completed</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="calcOnSave" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Calculate On Save</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="concurrentCalc" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Concurrent Calculations</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="concurrentManualCount" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Concurrent Thread Manual Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_CalcMode">
    <xs:annotation>
      <xs:documentation>Calculation Mode</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="manual">
        <xs:annotation>
          <xs:documentation>Manual Calculation Mode</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="auto">
        <xs:annotation>
          <xs:documentation>Automatic</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="autoNoTable">
        <xs:annotation>
          <xs:documentation>Automatic Calculation (No Tables)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_RefMode">
    <xs:annotation>
      <xs:documentation>Reference Mode</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="A1">
        <xs:annotation>
          <xs:documentation>A1 Mode</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="R1C1">
        <xs:annotation>
          <xs:documentation>R1C1 Reference Mode</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_DefinedNames">
    <xs:sequence>
      <xs:element name="definedName" type="CT_DefinedName" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Defined Name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_DefinedName">
    <xs:simpleContent>
      <xs:extension base="ST_Formula">
        <xs:attribute name="name" type="ST_Xstring" use="required">
          <xs:annotation>
            <xs:documentation>Defined Name</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="comment" type="ST_Xstring" use="optional">
          <xs:annotation>
            <xs:documentation>Comment</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="customMenu" type="ST_Xstring" use="optional">
          <xs:annotation>
            <xs:documentation>Custom Menu Text</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="description" type="ST_Xstring" use="optional">
          <xs:annotation>
            <xs:documentation>Macro Description</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="help" type="ST_Xstring" use="optional">
          <xs:annotation>
            <xs:documentation>Help</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="statusBar" type="ST_Xstring" use="optional">
          <xs:annotation>
            <xs:documentation>Status Bar</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="localSheetId" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Local Name Sheet Id</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="hidden" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation>Hidden Name</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="function" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation>Function</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="vbProcedure" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation>VB Procedure</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="xlm" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation>XLM</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="complex" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation>Complex Function</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="builtIn" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation>Built-In Name</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="functionGroupId" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Function Group Id</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="shortcutKey" type="ST_Xstring" use="optional">
          <xs:annotation>
            <xs:documentation>Shortcut Key</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="publishToServer" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation>Publish To Server</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="workbookParameter" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation>Workbook Parameter (Server)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CT_ExternalReferences">
    <xs:sequence>
      <xs:element name="externalReference" type="CT_ExternalReference" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>External Reference</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_ExternalReference">
    <xs:attribute ref="r:id" use="required" />
  </xs:complexType>
  <xs:complexType name="CT_SheetBackgroundPicture">
    <xs:attribute ref="r:id" use="required" />
  </xs:complexType>
  <xs:complexType name="CT_PivotCaches">
    <xs:sequence>
      <xs:element name="pivotCache" type="CT_PivotCache" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>PivotCache</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_PivotCache">
    <xs:attribute name="cacheId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>PivotCache Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="r:id" use="required" />
  </xs:complexType>
  <xs:complexType name="CT_FileSharing">
    <xs:attribute name="readOnlyRecommended" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Read Only Recommended</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="userName" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>User Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="reservationPassword" type="ST_UnsignedShortHex">
      <xs:annotation>
        <xs:documentation>Write Reservation Password</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_OleSize">
    <xs:attribute name="ref" type="ST_Ref" use="required">
      <xs:annotation>
        <xs:documentation>Reference</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_WorkbookProtection">
    <xs:attribute name="workbookPassword" type="ST_UnsignedShortHex" use="optional">
      <xs:annotation>
        <xs:documentation>Workbook Password</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="revisionsPassword" type="ST_UnsignedShortHex" use="optional">
      <xs:annotation>
        <xs:documentation>Revisions Password</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="lockStructure" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Lock Structure</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="lockWindows" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Lock Windows</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="lockRevision" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Lock Revisions</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_WebPublishing">
    <xs:attribute name="css" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Use CSS</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="thicket" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Thicket</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="longFileNames" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Enable Long File Names</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="vml" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>VML in Browsers</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="allowPng" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Allow PNG</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetScreenSize" type="ST_TargetScreenSize" use="optional" default="800x600">
      <xs:annotation>
        <xs:documentation>Target Screen Size</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dpi" type="xs:unsignedInt" use="optional" default="96">
      <xs:annotation>
        <xs:documentation>DPI</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="codePage" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Code Page</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_TargetScreenSize">
    <xs:annotation>
      <xs:documentation>Target Screen Size Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="544x376">
        <xs:annotation>
          <xs:documentation>544 x 376 Resolution</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="640x480">
        <xs:annotation>
          <xs:documentation>640 x 480 Resolution</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="720x512">
        <xs:annotation>
          <xs:documentation>720 x 512 Resolution</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="800x600">
        <xs:annotation>
          <xs:documentation>800 x 600 Resolution</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1024x768">
        <xs:annotation>
          <xs:documentation>1024 x 768 Resolution</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1152x882">
        <xs:annotation>
          <xs:documentation>1152 x 882 Resolution</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1152x900">
        <xs:annotation>
          <xs:documentation>1152 x 900 Resolution</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1280x1024">
        <xs:annotation>
          <xs:documentation>1280 x 1024 Resolution</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1600x1200">
        <xs:annotation>
          <xs:documentation>1600 x 1200 Resolution</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1800x1440">
        <xs:annotation>
          <xs:documentation>1800 x 1440 Resolution</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1920x1200">
        <xs:annotation>
          <xs:documentation>1920 x 1200 Resolution</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_FunctionGroups">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="functionGroup" type="CT_FunctionGroup" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="builtInGroupCount" type="xs:unsignedInt" default="16" use="optional" />
  </xs:complexType>
  <xs:complexType name="CT_FunctionGroup">
    <xs:attribute name="name" type="ST_Xstring" />
  </xs:complexType>
  <xs:complexType name="CT_FunctionPrototypes">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="functionPrototype" type="CT_FunctionPrototype" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_FunctionPrototype">
    <xs:simpleContent>
      <xs:extension base="ST_Xstring">
        <xs:attribute name="name" type="ST_Xstring" use="required" />
        <xs:attribute name="xlm" type="xs:boolean" default="false" use="optional" />
        <xs:attribute name="functionGroupId" type="xs:unsignedInt" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>