ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/sml-metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" xmlns:xb="ExcelBuild" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xs:include schemaLocation="sml-basictypes.xsd" />
  <xs:element name="metadata" type="CT_Metadata">
    <xs:annotation>
      <xs:documentation>Metadata</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CT_Metadata">
    <xs:sequence>
      <xs:element name="metadataTypes" type="CT_MetadataTypes" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Metadata Types Information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="metadataStrings" type="CT_MetadataStrings" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Metadata String Store</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mdxMetadata" type="CT_MdxMetadata" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>MDX Metadata Information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="futureMetadata" type="CT_FutureMetadata" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Future Metadata</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cellMetadata" type="CT_MetadataBlocks" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cell Metadata</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="valueMetadata" type="CT_MetadataBlocks" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Value Metadata</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" minOccurs="0" maxOccurs="1" type="CT_FSB">
        <xs:annotation>
          <xs:documentation>Future Feature Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_MetadataTypes">
    <xs:sequence>
      <xs:element name="metadataType" type="CT_MetadataType" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Metadata Type Information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Metadata Type Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_MetadataType">
    <xs:attribute name="name" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Metadata Type Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minSupportedVersion" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Minimum Supported Version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ghostRow" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Ghost Row</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ghostCol" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Ghost Column</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="edit" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Edit</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="delete" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Cell Value Delete</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="copy" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Copy</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pasteAll" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Paste All</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pasteFormulas" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Paste Formulas</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pasteValues" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Paste Special Values</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pasteFormats" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Paste Formats</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pasteComments" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Paste Comments</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pasteDataValidation" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Paste Data Validation</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pasteBorders" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Paste Borders</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pasteColWidths" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Paste Column Widths</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pasteNumberFormats" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Paste Number Formats</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="merge" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Merge</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="splitFirst" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Meatadata Split First</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="splitAll" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Split All</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rowColShift" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Insert Delete</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="clearAll" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Clear All</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="clearFormats" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Clear Formats</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="clearContents" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Clear Contents</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="clearComments" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Clear Comments</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="assign" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Formula Assignment</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="coerce" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Metadata Coercion</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="adjust" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Adjust Metadata</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cellMeta" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Cell Metadata</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_MetadataBlocks">
    <xs:sequence>
      <xs:element name="bk" type="CT_MetadataBlock" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Metadata Block</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Metadata Block Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_MetadataBlock">
    <xs:annotation>
      <xs:documentation>Metadata Block</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rc" type="CT_MetadataRecord" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Metadata Record</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_MetadataRecord">
    <xs:annotation>
      <xs:documentation>Metadata Record</xs:documentation>
    </xs:annotation>
    <xs:attribute name="t" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Metadata Record Type Index</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="v" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Metadata Record Value Index</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_FutureMetadata">
    <xs:sequence>
      <xs:element name="bk" type="CT_FutureMetadataBlock" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Future Metadata Block</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" minOccurs="0" maxOccurs="1" type="CT_FSB">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Metadata Type Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Future Metadata Block Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_FutureMetadataBlock">
    <xs:annotation>
      <xs:documentation>Future Metadata Block</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fsb" minOccurs="0" maxOccurs="1" type="CT_FSB">
        <xs:annotation>
          <xs:documentation>Future Feature Storage Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_MdxMetadata">
    <xs:annotation>
      <xs:documentation>MDX Metadata</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mdx" type="CT_Mdx" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>MDX Metadata Record</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>MDX Metadata Record Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Mdx">
    <xs:annotation>
      <xs:documentation>MDX Metadata Record</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element name="t" type="CT_MdxTuple">
        <xs:annotation>
          <xs:documentation>Tuple MDX Metadata</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ms" type="CT_MdxSet">
        <xs:annotation>
          <xs:documentation>Set MDX Metadata</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="p" type="CT_MdxMemeberProp">
        <xs:annotation>
          <xs:documentation>Member Property MDX Metadata</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="k" type="CT_MdxKPI">
        <xs:annotation>
          <xs:documentation>KPI MDX Metadata</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="n" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Connection Name Index</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="f" type="ST_MdxFunctionType" use="required">
      <xs:annotation>
        <xs:documentation>Cube Function Tag</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_MdxFunctionType">
    <xs:annotation>
      <xs:documentation>MDX Function Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="m">
        <xs:annotation>
          <xs:documentation>Cube Member</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="v">
        <xs:annotation>
          <xs:documentation>Cube Value</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="s">
        <xs:annotation>
          <xs:documentation>Cube Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="c">
        <xs:annotation>
          <xs:documentation>Cube Set Count</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="r">
        <xs:annotation>
          <xs:documentation>Cube Ranked Member</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="p">
        <xs:annotation>
          <xs:documentation>Cube Member Property</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="k">
        <xs:annotation>
          <xs:documentation>Cube KPI Member</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_MdxTuple">
    <xs:annotation>
      <xs:documentation>MDX Tuple</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="n" type="CT_MetadataStringIndex" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Member Unique Name Index</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="c" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Member Index Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ct" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Server Formatting Culture Currency</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="si" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Server Formatting String Index</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fi" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Server Formatting Built-In Number Format Index</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="bc" type="ST_UnsignedIntHex" use="optional">
      <xs:annotation>
        <xs:documentation>Server Formatting Background Color</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fc" type="ST_UnsignedIntHex" use="optional">
      <xs:annotation>
        <xs:documentation>Server Formatting Foreground Color</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="i" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Server Formatting Italic Font</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="u" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Server Formatting Underline Font</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="st" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Server Formatting Strikethrough Font</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="b" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Server Formatting Bold Font</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_MdxSet">
    <xs:annotation>
      <xs:documentation>MDX Set</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="n" type="CT_MetadataStringIndex" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Member Unique Name Index</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ns" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Set Definition Index</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="c" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Sort By Member Index Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="o" type="ST_MdxSetOrder" use="optional" default="u">
      <xs:annotation>
        <xs:documentation>Set Sort Order</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_MdxSetOrder">
    <xs:annotation>
      <xs:documentation>MDX Set Order</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="u">
        <xs:annotation>
          <xs:documentation>Unsorted</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="a">
        <xs:annotation>
          <xs:documentation>Ascending</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="d">
        <xs:annotation>
          <xs:documentation>Descending</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aa">
        <xs:annotation>
          <xs:documentation>Alpha Ascending Sort Order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ad">
        <xs:annotation>
          <xs:documentation>Alpha Descending Sort Order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="na">
        <xs:annotation>
          <xs:documentation>Natural Ascending</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nd">
        <xs:annotation>
          <xs:documentation>Natural Descending</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_MdxMemeberProp">
    <xs:annotation>
      <xs:documentation>MDX Member Properties</xs:documentation>
    </xs:annotation>
    <xs:attribute name="n" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Member Unique Name Index</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="np" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Property Name Index</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_MdxKPI">
    <xs:annotation>
      <xs:documentation>MDX KPI</xs:documentation>
    </xs:annotation>
    <xs:attribute name="n" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Member Unique Name Index</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="np" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>KPI Index</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="p" type="ST_MdxKPIProperty" use="required">
      <xs:annotation>
        <xs:documentation>KPI Property</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_MdxKPIProperty">
    <xs:annotation>
      <xs:documentation>MDX KPI Property</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="v">
        <xs:annotation>
          <xs:documentation>Value</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="g">
        <xs:annotation>
          <xs:documentation>Goal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="s">
        <xs:annotation>
          <xs:documentation>Status</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="t">
        <xs:annotation>
          <xs:documentation>Trend</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="w">
        <xs:annotation>
          <xs:documentation>Weight</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="m">
        <xs:annotation>
          <xs:documentation>Current Time Member</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_MetadataStringIndex">
    <xs:attribute name="x" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Index Value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="s" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>String is a Set</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_MetadataStrings">
    <xs:sequence>
      <xs:element name="s" type="CT_XStringElement" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>MDX Metadata String</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>MDX Metadata String Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>