ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/sml-extconns.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" xmlns:xb="ExcelBuild" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xs:include schemaLocation="sml-basictypes.xsd" />
  <xs:include schemaLocation="sml-pivot.xsd" />
  <xs:element name="connections" type="CT_Connections">
    <xs:annotation>
      <xs:documentation>Connections</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CT_Connections">
    <xs:sequence>
      <xs:element name="connection" minOccurs="1" maxOccurs="unbounded" type="CT_Connection">
        <xs:annotation>
          <xs:documentation>Connection</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_Connection">
    <xs:annotation>
      <xs:documentation>Connection</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dbPr" minOccurs="0" maxOccurs="1" type="CT_DbPr">
        <xs:annotation>
          <xs:documentation>ODBC &amp; OLEDB Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="olapPr" minOccurs="0" maxOccurs="1" type="CT_OlapPr">
        <xs:annotation>
          <xs:documentation>OLAP Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="webPr" minOccurs="0" maxOccurs="1" type="CT_WebPr">
        <xs:annotation>
          <xs:documentation>Web Query Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="textPr" minOccurs="0" maxOccurs="1" type="CT_TextPr">
        <xs:annotation>
          <xs:documentation>Text Import Settings</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="parameters" minOccurs="0" maxOccurs="1" type="CT_Parameters">
        <xs:annotation>
          <xs:documentation>Query Parameters</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" minOccurs="0" maxOccurs="1" type="CT_FSB">
        <xs:annotation>
          <xs:documentation>Future Feature Data Storage</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:unsignedInt">
      <xs:annotation>
        <xs:documentation>Connection Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sourceFile" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Source Database File</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="odcFile" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Connection File</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="keepAlive" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Keep Connection Open</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="interval" use="optional" type="xs:unsignedInt" default="0">
      <xs:annotation>
        <xs:documentation>Automatic Refresh Interval</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Connection Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Connection Description</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" use="optional" type="xs:unsignedInt">
      <xs:annotation>
        <xs:documentation>Database Source Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="reconnectionMethod" use="optional" type="xs:unsignedInt" default="1">
      <xs:annotation>
        <xs:documentation>Reconnection Method</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="refreshedVersion" use="required" type="xs:unsignedByte">
      <xs:annotation>
        <xs:documentation>Last Refresh Version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minRefreshableVersion" use="optional" type="xs:unsignedByte" default="0">
      <xs:annotation>
        <xs:documentation>Minimum Version Required for Refresh</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="savePassword" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Save Password</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="new" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>New Connection</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="deleted" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Deleted Connection</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onlyUseConnectionFile" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Only Use Connection File</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="background" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Background Refresh</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="refreshOnLoad" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Refresh on Open</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="saveData" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Save Data</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="credentials" use="optional" type="ST_CredMethod" default="integrated">
      <xs:annotation>
        <xs:documentation>Reconnection Method</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="singleSignOnId" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>SSO Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_CredMethod">
    <xs:annotation>
      <xs:documentation>Credentials Method</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="integrated">
        <xs:annotation>
          <xs:documentation>Integrated Authentication</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>No Credentials</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="stored">
        <xs:annotation>
          <xs:documentation>Stored Credentials</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="prompt">
        <xs:annotation>
          <xs:documentation>Prompt Credentials</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_DbPr">
    <xs:attribute name="connection" use="required" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Connection String</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="command" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Command Text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="serverCommand" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Command Text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="commandType" use="optional" type="xs:unsignedInt" default="2">
      <xs:annotation>
        <xs:documentation>OLEBD Command Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_OlapPr">
    <xs:attribute name="local" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Local Cube</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="localConnection" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Local Cube Connection</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="localRefresh" use="optional" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>Local Refresh</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sendLocale" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Send Locale to OLAP</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rowDrillCount" use="optional" type="xs:unsignedInt">
      <xs:annotation>
        <xs:documentation>Drill Through Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="serverFill" use="optional" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>OLAP Fill Formatting</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="serverNumberFormat" use="optional" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>OLAP Number Format</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="serverFont" use="optional" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>OLAP Server Font</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="serverFontColor" use="optional" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>OLAP Font Formatting</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_WebPr">
    <xs:annotation>
      <xs:documentation>Web Properties</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tables" minOccurs="0" maxOccurs="1" type="CT_Tables">
        <xs:annotation>
          <xs:documentation>Tables</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="xml" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>XML Source</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sourceData" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Import XML Source Data</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="parsePre" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Parse PRE</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="consecutive" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Consecutive Delimiters</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="firstRow" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Use First Row</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="xl97" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Created in Excel 97</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="textDates" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Dates as Text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="xl2000" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Refreshed in Excel 2000</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="url" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>URL</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="post" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Web Post</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="htmlTables" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>HTML Tables Only</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="htmlFormat" use="optional" type="ST_HtmlFmt" default="none">
      <xs:annotation>
        <xs:documentation>HTML Formatting Handling</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="editPage" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Edit Query URL</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_HtmlFmt">
    <xs:annotation>
      <xs:documentation>HTML Formatting Handling</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>No Formatting</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rtf">
        <xs:annotation>
          <xs:documentation>Honor Rich Text</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="all">
        <xs:annotation>
          <xs:documentation>All</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_Parameters">
    <xs:annotation>
      <xs:documentation>Parameters</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="parameter" minOccurs="1" maxOccurs="unbounded" type="CT_Parameter">
        <xs:annotation>
          <xs:documentation>Parameter Properties</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" use="optional" type="xs:unsignedInt">
      <xs:annotation>
        <xs:documentation>Parameter Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Parameter">
    <xs:annotation>
      <xs:documentation>Parameter</xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Parameter Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sqlType" use="optional" type="xs:int" default="0">
      <xs:annotation>
        <xs:documentation>SQL Data Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="parameterType" use="optional" type="ST_ParameterType" default="prompt">
      <xs:annotation>
        <xs:documentation>Parameter Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="refreshOnChange" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Refresh on Change</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="prompt" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Parameter Prompt String</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="boolean" use="optional" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Boolean</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="double" use="optional" type="xs:double">
      <xs:annotation>
        <xs:documentation>Double</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="integer" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>Integer</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="string" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>String</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cell" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Cell Reference</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_ParameterType">
    <xs:annotation>
      <xs:documentation>Parameter Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="prompt">
        <xs:annotation>
          <xs:documentation>Prompt on Refresh</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="value">
        <xs:annotation>
          <xs:documentation>Value</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cell">
        <xs:annotation>
          <xs:documentation>Parameter From Cell</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_Tables">
    <xs:annotation>
      <xs:documentation>Tables</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="m" type="CT_TableMissing">
        <xs:annotation>
          <xs:documentation>No Value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="s" type="CT_XStringElement">
        <xs:annotation>
          <xs:documentation>Character Value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="x" type="CT_Index">
        <xs:annotation>
          <xs:documentation>Index</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="count" use="optional" type="xs:unsignedInt">
      <xs:annotation>
        <xs:documentation>Count of Tables</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_TableMissing" />
  <xs:complexType name="CT_TextPr">
    <xs:annotation>
      <xs:documentation>Text Properties</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="textFields" minOccurs="0" maxOccurs="1" type="CT_TextFields">
        <xs:annotation>
          <xs:documentation>Fields</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="prompt" use="optional" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>Prompt for File Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fileType" use="optional" type="ST_FileType" default="win">
      <xs:annotation>
        <xs:documentation>File Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="codePage" use="optional" type="xs:unsignedInt" default="1252">
      <xs:annotation>
        <xs:documentation>Code Page</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="firstRow" use="optional" type="xs:unsignedInt" default="1">
      <xs:annotation>
        <xs:documentation>First Row</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sourceFile" use="optional" type="ST_Xstring" default="">
      <xs:annotation>
        <xs:documentation>Source File Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="delimited" use="optional" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>Delimited File</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="decimal" use="optional" type="ST_Xstring" default=".">
      <xs:annotation>
        <xs:documentation>Decimal Separator</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="thousands" use="optional" type="ST_Xstring" default=",">
      <xs:annotation>
        <xs:documentation>Thousands Separator</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tab" use="optional" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>Tab as Delimiter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="space" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Space is Delimiter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comma" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Comma is Delimiter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="semicolon" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Semicolon is Delimiter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="consecutive" use="optional" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Consecutive Delimiters</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="qualifier" use="optional" type="ST_Qualifier" default="doubleQuote">
      <xs:annotation>
        <xs:documentation>Qualifier</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="delimiter" use="optional" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Custom Delimiter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_FileType">
    <xs:annotation>
      <xs:documentation>File Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="mac">
        <xs:annotation>
          <xs:documentation>Macintosh</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="win">
        <xs:annotation>
          <xs:documentation>Windows (ANSI)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dos">
        <xs:annotation>
          <xs:documentation>DOS</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_Qualifier">
    <xs:annotation>
      <xs:documentation>Qualifier</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="doubleQuote">
        <xs:annotation>
          <xs:documentation>Double Quote</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="singleQuote">
        <xs:annotation>
          <xs:documentation>Single Quote</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>No Text Qualifier</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_TextFields">
    <xs:annotation>
      <xs:documentation>Fields</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="textField" minOccurs="1" maxOccurs="unbounded" type="CT_TextField">
        <xs:annotation>
          <xs:documentation>Text Import Field Settings</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" use="optional" type="xs:unsignedInt" default="1">
      <xs:annotation>
        <xs:documentation>Count of Fields</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_TextField">
    <xs:attribute name="type" use="optional" type="ST_ExternalConnectionType" default="general">
      <xs:annotation>
        <xs:documentation>Field Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="position" use="optional" type="xs:unsignedInt" default="0">
      <xs:annotation>
        <xs:documentation>Position</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_ExternalConnectionType">
    <xs:annotation>
      <xs:documentation>External Connection</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="general">
        <xs:annotation>
          <xs:documentation>General</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="text">
        <xs:annotation>
          <xs:documentation>Text</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MDY">
        <xs:annotation>
          <xs:documentation>Month Day Year</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DMY">
        <xs:annotation>
          <xs:documentation>Day Month Year</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="YMD">
        <xs:annotation>
          <xs:documentation>Year Month Day</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MYD">
        <xs:annotation>
          <xs:documentation>Month Day Year</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DYM">
        <xs:annotation>
          <xs:documentation>Day Year Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="YDM">
        <xs:annotation>
          <xs:documentation>Year Day Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="skip">
        <xs:annotation>
          <xs:documentation>Skip Field</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EMD">
        <xs:annotation>
          <xs:documentation>East Asian Year Month Day</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>