ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/sml-shrrev.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" xmlns:xb="ExcelBuild" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xs:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" schemaLocation="shared-relationships.xsd" />
  <xs:include schemaLocation="sml-basictypes.xsd" />
  <xs:include schemaLocation="sml-sheet.xsd" />
  <xs:include schemaLocation="sml-styles.xsd" />
  <xs:element name="headers" type="CT_RevisionHeaders">
    <xs:annotation>
      <xs:documentation>Revision Headers</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="revisions" type="CT_Revisions">
    <xs:annotation>
      <xs:documentation>Revisions</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CT_RevisionHeaders">
    <xs:sequence>
      <xs:element name="header" type="CT_RevisionHeader" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Header</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="guid" type="ST_Guid" use="required">
      <xs:annotation>
        <xs:documentation>Last Revision GUID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="lastGuid" type="ST_Guid" use="optional">
      <xs:annotation>
        <xs:documentation>Last GUID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="shared" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>Shared Workbook</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="diskRevisions" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Disk Revisions</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="history" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>History</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="trackRevisions" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>Track Revisions</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="exclusive" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Exclusive Mode</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="revisionId" type="xs:unsignedInt" default="0">
      <xs:annotation>
        <xs:documentation>Revision Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="version" type="xs:int" default="1">
      <xs:annotation>
        <xs:documentation>Version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="keepChangeHistory" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Keep Change History</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="protected" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Protected</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="preserveHistory" type="xs:unsignedInt" default="30">
      <xs:annotation>
        <xs:documentation>Preserve History</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Revisions">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="rrc" type="CT_RevisionRowColumn" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Row Column Insert Delete</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rm" type="CT_RevisionMove" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Cell Move</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rcv" type="CT_RevisionCustomView" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Custom View</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rsnm" type="CT_RevisionSheetRename" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Sheet Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ris" type="CT_RevisionInsertSheet" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Insert Sheet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rcc" type="CT_RevisionCellChange" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Cell Change</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rfmt" type="CT_RevisionFormatting" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Format</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="raf" type="CT_RevisionAutoFormatting" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision AutoFormat</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rdn" type="CT_RevisionDefinedName" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Defined Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rcmt" type="CT_RevisionComment" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Cell Comment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rqt" type="CT_RevisionQueryTableField" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Query Table</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rcft" type="CT_RevisionConflict" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Merge Conflict</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:attributeGroup name="AG_RevData">
    <xs:annotation>
      <xs:documentation>Revision Data</xs:documentation>
    </xs:annotation>
    <xs:attribute name="rId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Revision Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ua" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Revision From Rejection</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ra" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Revision Undo Rejected</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="CT_RevisionHeader">
    <xs:sequence>
      <xs:element name="sheetIdMap" minOccurs="1" maxOccurs="1" type="CT_SheetIdMap">
        <xs:annotation>
          <xs:documentation>Sheet Id Map</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reviewedList" minOccurs="0" maxOccurs="1" type="CT_ReviewedRevisions">
        <xs:annotation>
          <xs:documentation>Reviewed List</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" minOccurs="0" type="CT_FSB" />
    </xs:sequence>
    <xs:attribute name="guid" type="ST_Guid" use="required">
      <xs:annotation>
        <xs:documentation>GUID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dateTime" type="xs:dateTime" use="required">
      <xs:annotation>
        <xs:documentation>Date Time</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxSheetId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Last Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="userName" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>User Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="r:id" use="required" />
    <xs:attribute name="minRId" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Minimum Revision Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxRId" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Max Revision Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_SheetIdMap">
    <xs:sequence>
      <xs:element name="sheetId" type="CT_SheetId" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Sheet Id</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Sheet Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_SheetId">
    <xs:attribute name="val" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_ReviewedRevisions">
    <xs:sequence>
      <xs:element name="reviewed" type="CT_Reviewed" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Reviewed</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Reviewed Revisions Count</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Reviewed">
    <xs:attribute name="rId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>revision Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_UndoInfo">
    <xs:attribute name="index" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Idex</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="exp" type="ST_FormulaExpression" use="required">
      <xs:annotation>
        <xs:documentation>Expression</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ref3D" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Reference 3D</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="array" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Array Entered</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="v" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Value Needed</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="nf" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Defined Name Formula</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cs" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Cross Sheet Move</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dr" type="ST_RefA" use="required">
      <xs:annotation>
        <xs:documentation>Range</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dn" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Defined Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="r" type="ST_CellRef" use="optional">
      <xs:annotation>
        <xs:documentation>Cell Reference</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sId" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_RevisionRowColumn">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="undo" type="CT_UndoInfo" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Undo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rcc" type="CT_RevisionCellChange" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revised Row Column</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rfmt" type="CT_RevisionFormatting" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Format</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attributeGroup ref="AG_RevData">
      <xs:annotation>
        <xs:documentation>Revision Data</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="sId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="eol" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>End Of List</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ref" type="ST_Ref" use="required">
      <xs:annotation>
        <xs:documentation>Reference</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="action" type="ST_rwColActionType" use="required">
      <xs:annotation>
        <xs:documentation>User Action</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="edge" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Edge Deleted</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_RevisionMove">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="undo" type="CT_UndoInfo" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Undo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rcc" type="CT_RevisionCellChange" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Cell Contents</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rfmt" type="CT_RevisionFormatting" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Revision Format</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attributeGroup ref="AG_RevData">
      <xs:annotation>
        <xs:documentation>Revision Data</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="sheetId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="source" type="ST_Ref" use="required">
      <xs:annotation>
        <xs:documentation>Source</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="destination" type="ST_Ref" use="required">
      <xs:annotation>
        <xs:documentation>Destination</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sourceSheetId" type="xs:unsignedInt" use="optional" default="0">
      <xs:annotation>
        <xs:documentation>Source Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_RevisionCustomView">
    <xs:attribute name="guid" type="ST_Guid" use="required">
      <xs:annotation>
        <xs:documentation>GUID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="action" type="ST_RevisionAction" use="required">
      <xs:annotation>
        <xs:documentation>User Action</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_RevisionSheetRename">
    <xs:sequence>
      <xs:element name="fsb" minOccurs="0" type="CT_FSB" />
    </xs:sequence>
    <xs:attributeGroup ref="AG_RevData">
      <xs:annotation>
        <xs:documentation>Revision Data</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="sheetId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="oldName" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Old Sheet Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="newName" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>New Sheet Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_RevisionInsertSheet">
    <xs:attributeGroup ref="AG_RevData">
      <xs:annotation>
        <xs:documentation>Revision Data</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="sheetId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sheetPosition" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Position</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_RevisionCellChange">
    <xs:sequence>
      <xs:element name="oc" type="CT_Cell" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Old Cell Data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nc" type="CT_Cell" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>New Cell Data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="odxf" type="CT_Dxf" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Old Formatting Information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ndxf" type="CT_Dxf" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>New Formatting Information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" minOccurs="0" type="CT_FSB" />
    </xs:sequence>
    <xs:attributeGroup ref="AG_RevData">
      <xs:annotation>
        <xs:documentation>Revision Data</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="sId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="odxf" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Old Formatting</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="xfDxf" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Row Column Formatting Change</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="s" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Style Revision</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dxf" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Formatting</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="numFmtId" type="ST_NumFmtId" use="optional">
      <xs:annotation>
        <xs:documentation>Number Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="quotePrefix" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="oldQuotePrefix" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="ph" type="xs:boolean" default="false" />
    <xs:attribute name="oldPh" type="xs:boolean" default="false" />
    <xs:attribute name="endOfListFormulaUpdate" type="xs:boolean" default="false" />
  </xs:complexType>
  <xs:complexType name="CT_RevisionFormatting">
    <xs:sequence>
      <xs:element name="dxf" type="CT_Dxf" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Formatting</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" minOccurs="0" type="CT_FSB" />
    </xs:sequence>
    <xs:attribute name="sheetId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="xfDxf" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Row or Column Formatting Change</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="s" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Style</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sqref" type="ST_Sqref" use="required">
      <xs:annotation>
        <xs:documentation>Sequence Of References</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="start" type="xs:unsignedInt" use="optional" />
    <xs:attribute name="length" type="xs:unsignedInt" use="optional" />
  </xs:complexType>
  <xs:complexType name="CT_RevisionAutoFormatting">
    <xs:attribute name="sheetId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="AG_AutoFormat">
      <xs:annotation>
        <xs:documentation>Auto Format Properties</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="ref" type="ST_Ref" use="required">
      <xs:annotation>
        <xs:documentation>Reference</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_RevisionComment">
    <xs:attribute name="sheetId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cell" type="ST_CellRef" use="required">
      <xs:annotation>
        <xs:documentation>Cell</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="guid" type="ST_Guid" use="required">
      <xs:annotation>
        <xs:documentation>GUID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="action" type="ST_RevisionAction" default="add">
      <xs:annotation>
        <xs:documentation>User Action</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="alwaysShow" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Always Show Comment</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="old" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Old Comment</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hiddenRow" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Comment In Hidden Row</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hiddenColumn" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Hidden Column</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="author" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Author</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_RevisionDefinedName">
    <xs:sequence>
      <xs:element name="formula" type="ST_Formula" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Formula</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="oldFormula" type="ST_Formula" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Old Formula</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fsb" minOccurs="0" type="CT_FSB" />
    </xs:sequence>
    <xs:attributeGroup ref="AG_RevData">
      <xs:annotation>
        <xs:documentation>Revision Data</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="localSheetId" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Local Name Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="customView" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Custom View</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="ST_Xstring" use="required">
      <xs:annotation>
        <xs:documentation>Name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="function" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Function</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="oldFunction" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Old Function</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="functionGroupId" type="xs:unsignedByte" use="optional">
      <xs:annotation>
        <xs:documentation>Function Group Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="oldFunctionGroupId" type="xs:unsignedByte" use="optional">
      <xs:annotation>
        <xs:documentation>Old Function Group Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="shortcutKey" type="xs:unsignedByte" use="optional">
      <xs:annotation>
        <xs:documentation>Shortcut Key</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="oldShortcutKey" type="xs:unsignedByte" use="optional">
      <xs:annotation>
        <xs:documentation>Old Short Cut Key</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hidden" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Named Range Hidden</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="oldHidden" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Old Hidden</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="customMenu" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>New Custom Menu</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="oldCustomMenu" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Old Custom Menu Text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Description</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="oldDescription" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Old Description</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="help" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>New Help Topic</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="oldHelp" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Old Help Topic</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="statusBar" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Status Bar</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="oldStatusBar" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Old Status Bar</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comment" type="ST_Xstring" use="optional" />
    <xs:attribute name="oldComment" type="ST_Xstring" use="optional" />
  </xs:complexType>
  <xs:complexType name="CT_RevisionConflict">
    <xs:attributeGroup ref="AG_RevData">
      <xs:annotation>
        <xs:documentation>Revision Data</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="sheetId" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_RevisionQueryTableField">
    <xs:attribute name="sheetId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Sheet Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ref" type="ST_Ref" use="required">
      <xs:annotation>
        <xs:documentation>QueryTable Reference</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fieldId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Field Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_rwColActionType">
    <xs:annotation>
      <xs:documentation>Row Column Action Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="insertRow">
        <xs:annotation>
          <xs:documentation>Insert Row</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="deleteRow">
        <xs:annotation>
          <xs:documentation>Delete Row</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="insertCol">
        <xs:annotation>
          <xs:documentation>Column Insert</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="deleteCol">
        <xs:annotation>
          <xs:documentation>Delete Column</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_RevisionAction">
    <xs:annotation>
      <xs:documentation>Revision Action Types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="add">
        <xs:annotation>
          <xs:documentation>Add</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="delete">
        <xs:annotation>
          <xs:documentation>Delete</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_FormulaExpression">
    <xs:annotation>
      <xs:documentation>Formula Expression Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ref">
        <xs:annotation>
          <xs:documentation>Reference</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="refError">
        <xs:annotation>
          <xs:documentation>Reference Is Error</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="area">
        <xs:annotation>
          <xs:documentation>Area</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="areaError">
        <xs:annotation>
          <xs:documentation>Area Error</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="computedArea">
        <xs:annotation>
          <xs:documentation>Computed Area</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>