ts/net.heartsome.cat.ts.configurationfile.feature/configuration/net.heartsome.cat.converter/catalogue/openxml/sml-autofilter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/5/main" xmlns:xb="ExcelBuild" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xs:include schemaLocation="sml-basictypes.xsd" />
  <xs:include schemaLocation="sml-styles.xsd" />
  <xs:complexType name="CT_AutoFilter">
    <xs:annotation>
      <xs:documentation>Auto Filter</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="filterColumn" minOccurs="0" maxOccurs="unbounded" type="CT_FilterColumn">
        <xs:annotation>
          <xs:documentation>Filter Column</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sortState" minOccurs="0" maxOccurs="1" type="CT_SortState">
        <xs:annotation>
          <xs:documentation>Sort State for Auto Filter</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ref" type="ST_Ref">
      <xs:annotation>
        <xs:documentation>Cell Reference</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_FilterColumn">
    <xs:annotation>
      <xs:documentation>Filter Column Data</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element name="filters" type="CT_Filters" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Filter Criteria</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="top10" type="CT_Top10" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Top 10</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="customFilters" type="CT_CustomFilters" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Custom Filters</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dynamicFilter" type="CT_DynamicFilter" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Dynamic Filter</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="colorFilter" type="CT_ColorFilter" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Color Filter Criteria</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="iconFilter" minOccurs="0" maxOccurs="1" type="CT_IconFilter">
        <xs:annotation>
          <xs:documentation>Icon Filter</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="colId" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Filter Column Data</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hiddenButton" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Hidden AutoFilter Button</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showButton" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Show Filter Button</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Filters">
    <xs:annotation>
      <xs:documentation>Filters</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="filter" type="CT_Filter" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Filter</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateGroupItem" type="CT_DateGroupItem" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Date Grouping</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="blank" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Filter by Blank</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="calendarType" type="ST_CalendarType" use="optional" default="none">
      <xs:annotation>
        <xs:documentation>Calendar Type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Filter">
    <xs:annotation>
      <xs:documentation>Filter</xs:documentation>
    </xs:annotation>
    <xs:attribute name="val" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Filter Value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_CustomFilters">
    <xs:annotation>
      <xs:documentation>Custom Filters</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="customFilter" type="CT_CustomFilter" minOccurs="1" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Custom Filter Criteria</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="and" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>And</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_CustomFilter">
    <xs:annotation>
      <xs:documentation>Custom Filter</xs:documentation>
    </xs:annotation>
    <xs:attribute name="operator" type="ST_FilterOperator" default="equal" use="optional">
      <xs:annotation>
        <xs:documentation>Filter Comparison Operator</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="val" type="ST_Xstring">
      <xs:annotation>
        <xs:documentation>Top or Bottom Value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_Top10">
    <xs:annotation>
      <xs:documentation>Top 10</xs:documentation>
    </xs:annotation>
    <xs:attribute name="top" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Top</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="percent" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Filter by Percent</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="val" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>Top or Bottom Value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_ColorFilter">
    <xs:annotation>
      <xs:documentation>Color Definition</xs:documentation>
    </xs:annotation>
    <xs:attribute name="dxfId" type="ST_DxfId" use="optional">
      <xs:annotation>
        <xs:documentation>Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cellColor" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>Filter By Cell Color</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_IconFilter">
    <xs:annotation>
      <xs:documentation>Icon Filter</xs:documentation>
    </xs:annotation>
    <xs:attribute name="iconSet" type="ST_IconSetType" use="required">
      <xs:annotation>
        <xs:documentation>Icon Set</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="iconId" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Icon Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_FilterOperator">
    <xs:annotation>
      <xs:documentation>Filter Operator</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="equal">
        <xs:annotation>
          <xs:documentation>Equal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lessThan">
        <xs:annotation>
          <xs:documentation>Less Than</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lessThanOrEqual">
        <xs:annotation>
          <xs:documentation>Less Than Or Equal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="notEqual">
        <xs:annotation>
          <xs:documentation>Not Eqal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="greaterThanOrEqual">
        <xs:annotation>
          <xs:documentation>Greater Than Or Equal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="greaterThan">
        <xs:annotation>
          <xs:documentation>Greater Than</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_DynamicFilter">
    <xs:annotation>
      <xs:documentation>Dynamic Filter</xs:documentation>
    </xs:annotation>
    <xs:attribute name="type" type="ST_DynamicFilterType" use="required">
      <xs:annotation>
        <xs:documentation>Dynamic filter type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_DynamicFilterType">
    <xs:annotation>
      <xs:documentation>Dynamic Filter</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="null">
        <xs:annotation>
          <xs:documentation>Null</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aboveAverage">
        <xs:annotation>
          <xs:documentation>Above Average</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="belowAverage">
        <xs:annotation>
          <xs:documentation>Below Average</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tomorrow">
        <xs:annotation>
          <xs:documentation>Tomorrow</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="today">
        <xs:annotation>
          <xs:documentation>Today</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="yesterday">
        <xs:annotation>
          <xs:documentation>Yesterday</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nextWeek">
        <xs:annotation>
          <xs:documentation>Next Week</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thisWeek">
        <xs:annotation>
          <xs:documentation>This Week</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lastWeek">
        <xs:annotation>
          <xs:documentation>Last Week</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nextMonth">
        <xs:annotation>
          <xs:documentation>Next Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thisMonth">
        <xs:annotation>
          <xs:documentation>This Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lastMonth">
        <xs:annotation>
          <xs:documentation>Last Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nextQuarter">
        <xs:annotation>
          <xs:documentation>Next Quarter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thisQuarter">
        <xs:annotation>
          <xs:documentation>This Quarter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lastQuarter">
        <xs:annotation>
          <xs:documentation>Last Quarter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nextYear">
        <xs:annotation>
          <xs:documentation>Next Year</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thisYear">
        <xs:annotation>
          <xs:documentation>This Year</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lastYear">
        <xs:annotation>
          <xs:documentation>Last Year</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="yearToDate">
        <xs:annotation>
          <xs:documentation>Year To Date</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Q1">
        <xs:annotation>
          <xs:documentation>1st Quarter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Q2">
        <xs:annotation>
          <xs:documentation>2nd Quarter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Q3">
        <xs:annotation>
          <xs:documentation>3rd Quarter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Q4">
        <xs:annotation>
          <xs:documentation>4th Quarter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M1">
        <xs:annotation>
          <xs:documentation>1st Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M2">
        <xs:annotation>
          <xs:documentation>2nd Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M3">
        <xs:annotation>
          <xs:documentation>3rd Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M4">
        <xs:annotation>
          <xs:documentation>4th Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M5">
        <xs:annotation>
          <xs:documentation>5th Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M6">
        <xs:annotation>
          <xs:documentation>6th Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M7">
        <xs:annotation>
          <xs:documentation>7th Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M8">
        <xs:annotation>
          <xs:documentation>8th Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M9">
        <xs:annotation>
          <xs:documentation>9th Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M10">
        <xs:annotation>
          <xs:documentation>10th Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M11">
        <xs:annotation>
          <xs:documentation>11th Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M12">
        <xs:annotation>
          <xs:documentation>12th Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_IconSetType">
    <xs:annotation>
      <xs:documentation>Icon Set Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="3Arrows">
        <xs:annotation>
          <xs:documentation>3 Arrows Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3ArrowsGray">
        <xs:annotation>
          <xs:documentation>3 Arrows Icon Set (Gray)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3Flags">
        <xs:annotation>
          <xs:documentation>3 Flags Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3TrafficLights1">
        <xs:annotation>
          <xs:documentation>3 Traffic Lights Icon Set #1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3TrafficLights2">
        <xs:annotation>
          <xs:documentation>3 Traffic Lights Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3Signs">
        <xs:annotation>
          <xs:documentation>3 Signs Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3Symbols">
        <xs:annotation>
          <xs:documentation>3 Symbols Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3Symbols2" />
      <xs:enumeration value="4Arrows">
        <xs:annotation>
          <xs:documentation>4 Arrows Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4ArrowsGray">
        <xs:annotation>
          <xs:documentation>4 Arrows (Gray) Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4RedToBlack">
        <xs:annotation>
          <xs:documentation>4 Red To Black Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4Rating">
        <xs:annotation>
          <xs:documentation>4 Ratings Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4TrafficLights">
        <xs:annotation>
          <xs:documentation>4 Traffic Lights Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5Arrows">
        <xs:annotation>
          <xs:documentation>5 Arrows Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5ArrowsGray">
        <xs:annotation>
          <xs:documentation>5 Arrows (Gray) Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5Rating">
        <xs:annotation>
          <xs:documentation>5 Ratings Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5Quarters">
        <xs:annotation>
          <xs:documentation>5 Quarters Icon Set</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_SortState">
    <xs:annotation>
      <xs:documentation>Sort State</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sortCondition" minOccurs="0" maxOccurs="64" type="CT_SortCondition">
        <xs:annotation>
          <xs:documentation>Sort Condition</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="columnSort" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Sort by Columns</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="caseSensitive" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Case Sensitive</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sortMethod" type="ST_SortMethod" use="optional" default="pinYin">
      <xs:annotation>
        <xs:documentation>Sort Method</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ref" type="ST_Ref" use="required">
      <xs:annotation>
        <xs:documentation>Sort Range</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CT_SortCondition">
    <xs:annotation>
      <xs:documentation>Sort Condition</xs:documentation>
    </xs:annotation>
    <xs:attribute name="descending" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Descending</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sortBy" type="ST_SortBy" use="optional" default="value">
      <xs:annotation>
        <xs:documentation>Sort By</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ref" type="ST_Ref" use="required">
      <xs:annotation>
        <xs:documentation>Reference</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="customList" type="ST_Xstring" use="optional">
      <xs:annotation>
        <xs:documentation>Custom List</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dxfId" type="ST_DxfId" use="optional">
      <xs:annotation>
        <xs:documentation>Format Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="iconSet" type="ST_IconSetType" use="optional" default="3Arrows">
      <xs:annotation>
        <xs:documentation>Icon Set</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="iconId" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Icon Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_SortBy">
    <xs:annotation>
      <xs:documentation>Sort By</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="value">
        <xs:annotation>
          <xs:documentation>Value</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cellColor">
        <xs:annotation>
          <xs:documentation>Sort by Cell Color</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fontColor">
        <xs:annotation>
          <xs:documentation>Sort by Font Color</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="icon">
        <xs:annotation>
          <xs:documentation>Sort by Icon</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_SortMethod">
    <xs:annotation>
      <xs:documentation>Sort Method</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="stroke">
        <xs:annotation>
          <xs:documentation>Sort by Stroke</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pinYin">
        <xs:annotation>
          <xs:documentation>PinYin Sort</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_CalendarType">
    <xs:annotation>
      <xs:documentation>Calendar Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>No Calendar Type</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gregorian">
        <xs:annotation>
          <xs:documentation>Gregorian</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gregorianUs">
        <xs:annotation>
          <xs:documentation>Gregorian (U.S.) Calendar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="japan">
        <xs:annotation>
          <xs:documentation>Japanese Emperor Era Calendar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="taiwan">
        <xs:annotation>
          <xs:documentation>Taiwan Era Calendar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="korea">
        <xs:annotation>
          <xs:documentation>Korean Tangun Era Calendar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hijri">
        <xs:annotation>
          <xs:documentation>Hijri (Arabic Lunar) Calendar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thai">
        <xs:annotation>
          <xs:documentation>Thai Calendar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hebrew">
        <xs:annotation>
          <xs:documentation>Hebrew (Lunar) Calendar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gregorianMeFrench">
        <xs:annotation>
          <xs:documentation>Gregorian Middle East French Calendar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gregorianArabic">
        <xs:annotation>
          <xs:documentation>Gregorian Arabic Calendar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gregorianXlitEnglish">
        <xs:annotation>
          <xs:documentation>Gregorian Transliterated English Calendar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gregorianXlitFrench">
        <xs:annotation>
          <xs:documentation>Gregorian Transliterated French Calendar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CT_DateGroupItem">
    <xs:annotation>
      <xs:documentation>Date Group Item</xs:documentation>
    </xs:annotation>
    <xs:attribute name="year" type="xs:unsignedShort" use="required">
      <xs:annotation>
        <xs:documentation>Year</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="month" type="xs:unsignedShort" use="optional">
      <xs:annotation>
        <xs:documentation>Month</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="day" type="xs:unsignedShort" use="optional">
      <xs:annotation>
        <xs:documentation>Day</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hour" type="xs:unsignedShort" use="optional">
      <xs:annotation>
        <xs:documentation>Hour</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minute" type="xs:unsignedShort" use="optional">
      <xs:annotation>
        <xs:documentation>Minute</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="second" type="xs:unsignedShort" use="optional">
      <xs:annotation>
        <xs:documentation>Second</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dateTimeGrouping" type="ST_DateTimeGrouping" use="required">
      <xs:annotation>
        <xs:documentation>Date Time Grouping</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ST_DateTimeGrouping">
    <xs:annotation>
      <xs:documentation>Date Time Grouping</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="year">
        <xs:annotation>
          <xs:documentation>Group by Year</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="month">
        <xs:annotation>
          <xs:documentation>Month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="day">
        <xs:annotation>
          <xs:documentation>Day</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hour">
        <xs:annotation>
          <xs:documentation>Group by Hour</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="minute">
        <xs:annotation>
          <xs:documentation>Group by Minute</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="second">
        <xs:annotation>
          <xs:documentation>Second</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>